![Vanguard](datasets/vanguard.png) 
## ASSET BACKED SECURITIES - AUTO FINANCE LOAN DEFAULT PREDICTION

### What is an Asset-Backed Security
An asset-backed security (ABS) is a financial security collateralized by a pool of assets such as loans, leases, credit card debt, royalties or receivables. For investors, asset-backed securities are an alternative to investing in corporate debt. An ABS is similar to a mortgage-backed security, except that the underlying securities are not mortgage-based.

Asset-backed securities allow issuers to generate more cash, which, in turn, is used for more lending while giving investors the opportunity to invest in a wide variety of income-generating assets. Usually, the underlying assets of an ABS are illiquid and can't be sold on their own. But pooling the assets together and creating a financial security, a process called securitization, enables the owner of the assets to make them marketable. The underlying assets of these pools may be home equity loans, automobile loans, credit card receivables, student loans or other expected cash flows. Issuers of ABS can be as creative as they desire. For example, ABS have been created based on cash flows from movie revenues, royalty payments, aircraft leases and solar photovoltaics. Just about any cash-producing situation can be securitized into an ABS.

### Example of Asset-Backed Security
Assume that Company X is in the business of making automobile loans. If a person wants to borrow money to buy a car, Company X gives that person the cash, and the person is obligated to repay the loan with a certain amount of interest. Perhaps Company X makes so many loans that it runs out of cash to continue making more loans. Company X can then package its current loans and sell them to Investment Firm X, thus receiving cash that it can use to make more loans.

Investment Firm X will then sort the purchased loans into different groups called tranches. These tranches are groups of loans with similar characteristics, such as maturity, interest rate and expected delinquency rate. Next, Investment Firm X will issue securities that are similar to typical bonds on each tranche it creates.

Individual investors then purchase these securities and receive the cash-flows from the underlying pool of auto loans, minus an administrative fee that Investment Firm X keeps for itself.

### Typical Tranches
Usually an ABS will have three tranches: class A, B and C. The senior tranche, A, is almost always the largest tranche and is structured to have an investment-grade rating to make it attractive to investors.

The B tranche has lower credit quality and thus has a higher yield than the senior tranche. The C tranche has a lower credit rating than the B tranche and might have such poor credit quality that it can't be sold to investors. In this case, the issuer would keep the C tranche and absorb the losses.

### Vanguard Use Case 
To predict loan default based on public data from SEC and additional economic data

![Auto Loans](datasets/saupload_US-auto-loans-2017-Q1.png)

### Import Libraries

In [1]:
import re
import time
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# import tensorflow as tf
# from tensorflow import keras
# from keras import optimizers
# from keras.models import Sequential
# from keras.layers import Input, Dense, Dropout, LSTM, GRU
# from keras.models import Model, load_model
# from keras.callbacks import ModelCheckpoint, TensorBoard
# from keras import regularizers
# tf.__version__
%matplotlib inline

import seaborn as sns
# import itertools
# import operator
# import collections
# from scipy.io import mmread, mmwrite
# from random import randint
# from sklearn import linear_model
# from sklearn.grid_search import GridSearchCV
# from sklearn import preprocessing as pp
# from sklearn.svm import SVR
# from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
# from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
# from sklearn.ensemble import ExtraTreesRegressor
# from sklearn.decomposition import PCA, KernelPCA
# from sklearn.decomposition import NMF
# from sklearn.pipeline import Pipeline
# from sklearn.svm import LinearSVC
# from sklearn.linear_model import LogisticRegression, Ridge, Lasso, ElasticNet
# import scipy.stats as stats
# from sklearn import tree
# from sklearn.feature_selection import f_regression
# from sklearn.gaussian_process import GaussianProcess
# from sklearn.metrics import roc_auc_score
# from sklearn import metrics

# from sklearn.model_selection import train_test_split
# from sklearn.metrics import confusion_matrix, precision_recall_curve
# from sklearn.metrics import recall_score, classification_report, auc, roc_curve
# from sklearn.metrics import precision_recall_fscore_support, f1_score
# from sklearn.preprocessing import StandardScaler
# import warnings
# warnings.filterwarnings('ignore')

### Model Name

In [ ]:
# name = "ABS_Keras-GRU254GRU128D32D2-adam{}".format(int(time.time()))
#name_noTime = "ABS_Keras-LSTM128LSTM128D32D2-adam"

### Default Parameters

In [2]:
#parameters to choose
default_days = 0
#nrows = 40_000_000
train_split = 0.80
model_type = 'scikit-learn'
path = 'c:/users/ugy1/abs/'
#rows_for_prediction = 1000
cutOffForOriginationDate='2012-01-01'
manualOversamplingFactor=0.0
epochs=1

### Features to Be Used from Data

In [3]:
use_list1=[
    'abs_loan.cik',
'abs_loan.assettypenumber',
'abs_loan.assetnumber',
'abs_loan.reportingperiodendingdate',
'abs_loan.originatorname',
'abs_loan.originationdate',
'abs_loan.originalloanamount',
'abs_loan.originalloanterm',
'abs_loan.loanmaturitydate',
'abs_loan.originalinterestratepercentage',
'abs_loan.interestcalculationtypecode',
'abs_loan.originalinterestratetypecode',
'abs_loan.originalinterestonlytermnumber',
'abs_loan.originalfirstpaymentdate',
'abs_loan.underwritingindicator',
'abs_loan.paymenttypecode',
'abs_loan.subvented',
'abs_loan.vehiclemanufacturername',
'abs_loan.vehiclemodelname',
'abs_loan.vehiclenewusedcode',
'abs_loan.vehiclemodelyear',
'abs_loan.vehicletypecode',
'abs_loan.vehiclevalueamount',
'abs_loan.vehiclevaluesourcecode',
'abs_loan.obligorcreditscoretype',
'abs_loan.obligorcreditscore',
'abs_loan.obligorincomeverificationlevelcode',
'abs_loan.obligoremploymentverificationcode',
'abs_loan.coobligorindicator',
'abs_loan.paymenttoincomepercentage',
'abs_loan.obligorgeographiclocation',
'abs_loan.servicingfeepercentage',
'abs_loan.servicingflatfeeamount',
'abs_loan.primaryloanservicername',
'abs_loan.zerobalancecode']

In [ ]:
# columns to be used
use_list=[
    'abs_loan.cik',
 #'abs_loan.accessionnumber',
 'abs_loan.assettypenumber',
 'abs_loan.assetnumber',
 'abs_loan.reportingperiodbeginningdate',
 'abs_loan.reportingperiodendingdate',
 'abs_loan.originatorname',
 'abs_loan.originationdate',
 'abs_loan.originalloanamount',
 'abs_loan.originalloanterm',
 'abs_loan.loanmaturitydate',
 'abs_loan.originalinterestratepercentage',
 #'interestcalculationtypecode',
 #'abs_loan.originalinterestratetypecode',
 'abs_loan.originalinterestonlytermnumber',
 'abs_loan.originalfirstpaymentdate',
 'abs_loan.underwritingindicator',
 'abs_loan.graceperiodnumber',
 'abs_loan.paymenttypecode', # included now
 'abs_loan.subvented',
 #'vehiclemanufacturername',
 #'vehiclemodelname',
 'abs_loan.vehiclenewusedcode',
 #'vehiclemodelyear',
 'abs_loan.vehicletypecode',
 #'vehiclevalueamount',
 #'vehiclevaluesourcecode',
 'abs_loan.obligorcreditscoretype',
 'abs_loan.obligorcreditscore',
 'abs_loan.obligorincomeverificationlevelcode',
 'abs_loan.obligoremploymentverificationcode',
 'abs_loan.coobligorindicator',
 'abs_loan.paymenttoincomepercentage',
 'abs_loan.obligorgeographiclocation',
 'abs_loan.assetaddedindicator',
 #'remainingtermtomaturitynumber',
 'abs_loan.reportingperiodmodificationindicator',
 #'abs_loan.servicingadvancemethodcode', # it is only a method code not relevent to non-payment
 'abs_loan.reportingperiodbeginningloanbalanceamount',
 'abs_loan.nextreportingperiodpaymentamountdue',
 'abs_loan.reportingperiodinterestratepercentage',
 'abs_loan.nextinterestratepercentage',
 'abs_loan.servicingfeepercentage',
 'abs_loan.servicingflatfeeamount',
 'abs_loan.otherservicerfeeretainedbyservicer',
 ####'abs_loan.otherassesseduncollectedservicerfeeamount',
 'abs_loan.scheduledinterestamount',
 'abs_loan.scheduledprincipalamount',
 'abs_loan.otherprincipaladjustmentamount',
 'abs_loan.reportingperiodactualendbalanceamount',
 'abs_loan.reportingperiodscheduledpaymentamount',
 ####'abs_loan.totalactualamountpaid',
 'abs_loan.actualinterestcollectedamount',
 'abs_loan.actualprincipalcollectedamount',
 'abs_loan.actualothercollectedamount',
 ####'abs_loan.serviceradvancedamount',
 'abs_loan.interestpaidthroughdate',
 'abs_loan.zerobalanceeffectivedate',
 'abs_loan.zerobalancecode',
 'abs_loan.currentdelinquencystatus',
 'abs_loan.primaryloanservicername', # added new
 #'mostrecentservicingtransferreceiveddate',
 #'assetsubjectdemandindicator',
 #'assetsubjectdemandstatuscode',
 #'repurchaseamount',
 #'demandresolutiondate',
 #'repurchasername',
 #'repurchasereplacementreasoncode',
 #'chargedoffprincipalamount',
 #'recoveredamount',
 #'modificationtypecode',
 #'paymentextendednumber',
 #'repossessedindicator',
 #'repossessedproceedsamount'
]

### GPU Options

In [ ]:
#set gpu options to adjust gpu usage
# gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.5)
# sess=tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

### Load data

In [4]:
#load data from tab delimited file
df=pd.read_csv(path+'prod/abs_loan_Dec_to_Sep.csv', 
               usecols=use_list1, 
               sep='\t',
               #compression=bz2,
               #nrows=nrows,
               low_memory=False, 
              #index_col='abs_loan.reportingperiodendingdate', 
               parse_dates=True
              )

#remove 'abs_loan.' string from columns because 'dot' is a command in pandas
df.columns=df.columns.str.replace('abs_loan.','')

#display data shape
print(df.shape)
#view first five rows of all columns
#df.head(n=5)

(40789594, 35)

### Analyse and Delete Duplicate Data

In [5]:
df.cik.unique()

array([1725617, 1742444, 1726794, 1708978, 1696935, 1711993, 1705710,
       1710916, 1717900, 1725585, 1694276, 1713660, 1697574, 1706612,
       1715362, 1721745, 1694423, 1712665, 1723370, 1694919, 1704304,
       1709987, 1718100, 1715585, 1728847, 1728028, 1730276, 1735033,
       1736712, 1738390, 1736790, 1720749, 1733358, 1745187, 1743852,
       1741276, 1745763, 1748011, 1745376, 1750588, 1753581, 1754189,
       1756401, 1739276, 1754784, 1702011, 1710330, 1724588, 1699234,
       1712182, 1734889, 1735464, 1744034, 1752578, 1725618, 1734850,
       1742867, 1754008, 1733310, 1729361, 1741908, 1745314, 1751012,
       1754388, 1679731, 1692310, 1693819, 1694010, 1700667, 1702777,
       1703220, 1705002, 1708287, 1710329, 1710600, 1713736, 1718362,
       1718592, 1721353, 1721372, 1724128, 1727820, 1736511, 1742379],
      dtype=int64)

In [6]:
df=df[df.cik==1692310]

In [7]:
df.shape

(504930, 35)

In [8]:
df.assettypenumber.unique()

array(['Ford Credit'], dtype=object)

In [9]:
df.drop(['assettypenumber'], axis=1, inplace=True)

In [10]:
df.assetnumber.unique()

array(['065739000282', '065739000390', '065739000406', ...,
       '065739046141', '065739055598', '065739060947'], dtype=object)

In [11]:
df.originatorname.unique()

array(['Ford Credit', nan], dtype=object)

In [12]:
df.originatorname.isna().mean()

0.001431881646960965

In [13]:
df.drop(['originatorname'], axis=1, inplace=True)

In [14]:
df.drop(['cik'], axis=1, inplace=True)

In [ ]:
#df.duplicated(subset=['cik','assetnumber']).sum()

In [ ]:
#df.duplicated(subset=['cik','assetnumber','originationdate']).sum()

In [ ]:
#df.loc[df.duplicated(subset=['cik','assetnumber','reportingperiodendingdate']),:]

In [ ]:
#df.duplicated().sum()

In [ ]:
#df.drop_duplicates(subset=['cik','assetnumber','reportingperiodendingdate','originationdate'],keep='last', inplace=True)

In [ ]:
#df.columns.tolist()
df.shape

### Dataframe Memory Usage and Datatypes

In [ ]:
#df.info(memory_usage='deep')

In [ ]:
#df.memory_usage(deep=True).sum()

In [ ]:
#df.dtypes

In [ ]:
#df.head()
#df=df.sort_values(by='originationdate', ascending=True)

### Function to Draw Bar chart

In [ ]:
#function to draw a bar chart 
# def draw(data, title, ylabel, sort = False, n=-1):
#     labels = pd.value_counts(data).head().index.tolist()
#     count_classes = pd.value_counts(data, sort).head()
#     count_classes.plot(kind = 'bar', rot=0)
#     plt.xticks(range(len(labels)), labels)
#     plt.title(title)
#     plt.ylabel(ylabel)
#     plt.show()
#     print('Top ',n,' counts: ','\n',pd.value_counts(data, sort).head(n))

### Reporting Period
we have taken reportingperiodendingdate as a proxy for the reporting period

Missing values in the reporting period

In [15]:
df.reportingperiodendingdate.isna().mean()

0.0

In [ ]:
#df.reportingperiodendingdate.dropna(inplace=True)

In [ ]:
#draw(df.reportingperiodendingdate, title='reporting period endingdate', ylabel='Number of Loans', sort = True, n=100)

In [16]:
df.reportingperiodendingdate.unique()

array(['2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31',
       '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
       '2018-08-31', '2018-09-30'], dtype=object)

In [ ]:
#df['reportingperiodendingdate']=df.reportingperiodendingdate.replace('2018-09-28','2018-09-30')

In [ ]:
# restrict data to a reporting period
#df=df[df.index=='2017-11-30']

In [ ]:
#df.reportingperiodendingdate.unique()

### Mean current deliquency days for the reporting period

In [18]:
#df.currentdelinquencystatus.isna().mean()

In [ ]:
#df.dropna(subset=['currentdelinquencystatus'], how='all', inplace=True)

In [ ]:
#df.currentdelinquencystatus.isna().mean()

In [ ]:
#df.currentdelinquencystatus.unique()

In [ ]:
# # retaining only loans with non-negative currentdelinquencystatus days
# u=pd.value_counts(df.currentdelinquencystatus<0)
# if len(u)<2:
#     print('No Loans Below zero current deliquency status days')
# else: 
#     print('Number of Loans with negative current deliquency status days :', u[1])
#     print('Dropping ', u[1], 'rows and retaining loans with only non-negative current deliquency status days')
#     df=df[df.currentdelinquencystatus>=0]

In [ ]:
#df.groupby(df.reportingperiodendingdate).currentdelinquencystatus.mean().plot(kind='bar')

### Mean reporting period ending balance

In [20]:
#df.groupby(df.reportingperiodendingdate).reportingperiodactualendbalanceamount.mean().plot(kind='bar')

### Actual end balance amount for all current delinquency status days by reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).plot(kind='scatter', x='reportingperiodactualendbalanceamount',y='currentdelinquencystatus', title='Balance due by deliquency days by reporting period')

### Creating Feature columns for Reporting period

In [21]:
# create feature columns for categories within originator name 
def map_reportingperiodendingdate(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.reportingperiodendingdate).index.tolist()

for code in codes:
        df['reportingperiodending_{}'.format(code)] = list(map(map_reportingperiodendingdate, df.reportingperiodendingdate))
        print('Added Column for :   reportingperiodending_'+code)
print('New Dataframe shape : ', df.shape)

Added Column for :   reportingperiodending_2017-12-31
Added Column for :   reportingperiodending_2018-01-31
Added Column for :   reportingperiodending_2018-02-28
Added Column for :   reportingperiodending_2018-03-31
Added Column for :   reportingperiodending_2018-04-30
Added Column for :   reportingperiodending_2018-05-31
Added Column for :   reportingperiodending_2018-06-30
Added Column for :   reportingperiodending_2018-07-31
Added Column for :   reportingperiodending_2018-08-31
Added Column for :   reportingperiodending_2018-09-30
New Dataframe shape :  (504930, 42)

### Calculating Number of Days Loans Outstanding and creating a feature column

In [22]:
#calculate outstanding days
df['outstandingdays'] = pd.to_datetime(df['reportingperiodendingdate'])-pd.to_datetime(df['originationdate'])
#draw a chart for visual look and analysis
#draw(df.outstandingdays, title='Outstanding Days', ylabel='Number of Loans', sort = True, n=5)
#remove days string for machine learning
df['outstandingdays']=df.outstandingdays.map(lambda x: np.nan if pd.isnull(x) else x.days)
#display last five rows
#df.outstandingdays.tail()

### current deliquency status days Vs Loan Outstanding days by the reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).plot(kind='scatter', x='outstandingdays',y='currentdelinquencystatus', title='Balance due by deliquency days by reporting period')

### Dropping Loans Below Zero Outstanding Days

In [23]:
# retaining only loans with non-negative outstanding days
u=pd.value_counts(df.outstandingdays<0)
if len(u)<2:
    print('No Loans Below zero outstanding days')
else: 
    print('Number of Loans with negative outstanding days :', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with only non-negative outstanding days')
    df=df[df.outstandingdays>0]

No Loans Below zero outstanding days

In [ ]:
# get statistics for outstanding days
#df.outstandingdays.describe()

### Mean outstanding days for the reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).outstandingdays.mean()

### Calculate Number of Days Left until Maturity

In [24]:
#calculate days left until maturity
df['daystomaturity'] = pd.to_datetime(df['loanmaturitydate'])-pd.to_datetime(df['reportingperiodendingdate'])
#draw(df.daystomaturity, title='Days Left Until Maturity', ylabel='Number of Loans', sort=True, n=5)

### Create Feature Column for Days to Maturity

In [25]:
# remove 'days' string from the data for machine learning
df['daystomaturity']=df.daystomaturity.map(lambda x: np.nan if pd.isnull(x) else x.days)
# print last five rows
df.daystomaturity.tail()

27870267    1553.0
27870268     488.0
27870269    1188.0
27870270    1553.0
27870271    1219.0
Name: daystomaturity, dtype: float64

In [26]:
#retaining only loans with non-negative days to maturity
u=pd.value_counts(df.daystomaturity<=0)
if len(u)<2:
    print('No Loans Below zero days to maturity')
else: 
    print('Number of Loans with negativedays to maturity :', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with only non-negative days to maturity')
    df=df[df.daystomaturity>0]
#number of rows and columns of the dataframe
df.shape

Number of Loans with negativedays to maturity : 1253
Dropping  1253 rows and retaining loans with only non-negative days to maturity

(502954, 44)

In [ ]:
# statistics for days to maturity
#df.daystomaturity.describe()

### Mean days to maturity for the reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).daystomaturity.mean()

### Outstandingdays Vs Days to maturity

In [ ]:
#df[['outstandingdays', 'daystomaturity']].boxplot()

In [27]:
df.drop(['loanmaturitydate'], axis=1, inplace=True)

C:\Progra~1\Anaconda3_4\envs\tf_111\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

### Origination Date - Removing loans before origination cutoff date

In [28]:
# remove loans with orgination dates set for cut off earlier
u=pd.value_counts(df.originationdate<=cutOffForOriginationDate)
if len(u)<2:
    print('No origination date rows fall before ',cutOffForOriginationDate )
else: 
    print('Number of rows before',cutOffForOriginationDate ,':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with origination dates after', cutOffForOriginationDate)
    df=df[df.originationdate>cutOffForOriginationDate]
#new number of rows and columns of the dataframe
df.shape

Number of rows before 2012-01-01 : 26
Dropping  26 rows and retaining loans with origination dates after 2012-01-01

(502928, 43)

### Top ten mean current deliquency status by origination date and reporting period

In [ ]:
#df.groupby([df.originationdate, df.reportingperiodendingdate]).currentdelinquencystatus.mean().sort_values().tail(n=10).plot(kind='bar')

In [ ]:
#df.groupby(df.originationdate).currentdelinquencystatus.mean().sort_values().tail(n=10).plot(kind='bar')

### Originators Name

In [30]:
#df.originatorname.unique()

In [ ]:
# draw charts for originators name
#draw(df.originatorname, title='Originators Name', ylabel='Number of Loans', sort=True)

### Create Features for Originators

In [ ]:
#df['originatorname']=df.originatorname.astype('category')

In [ ]:
#df.originatorname.isnull().sum()

In [ ]:
#df.groupby(df.originatorname).currentdelinquencystatus.mean().sort_values(ascending=False)

In [ ]:
# # create feature columns for categories within originator name 
# def map_originatorname(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column == code:
#             return 1
#         else:
#             return 0
# codes = pd.value_counts(df.originatorname).index.tolist()

# for code in codes:
#         df['originator_{}'.format(code)] = list(map(map_originatorname, df.originatorname))
#         print('Added Column for :   originator_'+code)
# print('New Dataframe shape : ', df.shape)

In [ ]:
# # drop originator name column
# df.drop(['originatorname'],axis=1, inplace=True)
# # new number of rows and columns
# df.shape

### Original Loan Amount

In [ ]:
#df.groupby(df.reportingperiodendingdate).originalloanamount.mean()

In [ ]:
# draw chart for original loan amount as filered in the next variable(original_loan_in_excess) 
#original_loan_in_excess = 10000
#draw(df.originalloanamount>original_loan_in_excess, title='Original Loan Amount', ylabel='Number of Loans', sort=True)

In [ ]:
#draw a chart to view distribution of original loan amount
# bins = np.linspace(0, 80000, 1000)
# plt.hist(df.originalloanamount, bins, label='Original Loan Amount')
# plt.legend(loc='upper right')
# plt.title("Original Amount Loaned")
# plt.xlabel('Original Loan amount')
# plt.ylabel('Number of Loans')
# plt.show()

In [ ]:
# get statistics for original loan amount
#df.originalloanamount.describe()

### Remove Original Loan Amount Below Zero

In [31]:
# To remove rows with zero, non-negative or blank values for original loan amount

u=pd.value_counts(df.originalloanamount<=0)
if len(u)<2:
    print('No original loan amount blank or below zero')
else: 
    print('Number of original loan amount rows blank or below zero',':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with original loan amount more than zero')
    df=df[df.originalloanamount>0]
df.shape

No original loan amount blank or below zero

(502928, 43)

### Original Loan Term

In [32]:
#check for NaN
df.originalloanterm.isna().mean()

0.0

In [33]:
df.groupby(df.reportingperiodendingdate).originalloanterm.mean()

reportingperiodendingdate
2017-12-31    65.663977
2018-01-31    65.710352
2018-02-28    65.747658
2018-03-31    65.785917
2018-04-30    65.822215
2018-05-31    65.858109
2018-06-30    65.899654
2018-07-31    65.937957
2018-08-31    65.991402
2018-09-30    66.047955
Name: originalloanterm, dtype: float64

In [ ]:
# draw chart for original loan term based on the input of variable below(original_loan_term_excess)
#original_loan_term_excess = 48
#draw(df.originalloanterm>original_loan_term_excess, title='Original Loan Terms', ylabel='Number of Loans',sort=True)

In [ ]:
### Top ten delinquency days by the original loan term

In [ ]:
#df.plot(kind='scatter', x='originalloanterm', y='currentdelinquencystatus')
#df.groupby(df.originalloanterm).currentdelinquencystatus.mean().sort_values(ascending=False).head(10).plot(kind='bar')

In [ ]:
#df.originalloanterm.plot(kind='hist', bins=10, title='Original Loan Term')

In [ ]:
#statistics for original loan term
#df.originalloanterm.describe()

In [34]:
# remove rows with zero, blank or negative original loan term

u=pd.value_counts(df.originalloanterm<=0)
if len(u)<2:
    print('No original loan term blank or below zero')
else: 
    print('Number of original loan term rows blank or below zero',':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with original loan term more than zero')
    df=df[df.originalloanterm>0]
# new number of rows and columns of the dataframe
df.shape

No original loan term blank or below zero

(502928, 43)

### Original loan term effect on current delinquency status days by the reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).plot(kind='scatter', x='originalloanterm',y='currentdelinquencystatus', title='loan term effect on deliquency days by reporting period')

### Original interest rate percentage

In [35]:
df.originalinterestratepercentage.isna().mean()

0.0

In [36]:
# get statistics for originalinterestratepercentage
df.originalinterestratepercentage.describe()

count    502928.000000
mean          0.024493
std           0.028062
min           0.000000
25%           0.000000
50%           0.019000
75%           0.043900
max           0.219900
Name: originalinterestratepercentage, dtype: float64

### Remove interest rates below zero

In [37]:
# drop rows with blank or negative original interest rate percentage and research on zero interest rate loans
u=pd.value_counts(df.originalinterestratepercentage<0)
if len(u)<2:
    print('No original interest rate blank or below zero')
else: 
    print('Number of original interest rate rows blank or below zero',':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with original interest rate with non-negative values')
    df=df[df.originalinterestratepercentage>=0]
df.shape

No original interest rate blank or below zero

(502928, 43)

### Retain zero interest loans

In [38]:
# view zero original interest rate percentage loans
u=pd.value_counts(df.originalinterestratepercentage==0)
if len(u)<2:
    print('No zero original interest rate percentage')
else: 
    print('Number of zero original interest rate rows',':', u[1])
    #print('Dropping ', u[1], 'rows and retaining loans with original interest rate with non-negative values')
    #df=df[df.originalinterestratepercentage>=0]
df.shape

Number of zero original interest rate rows : 213784

(502928, 43)

### Interest rate percent effect on deliquency days by reporting period

In [ ]:
#df.groupby(df.reportingperiodendingdate).plot(kind='scatter', x='originalinterestratepercentage',y='currentdelinquencystatus', title='interest rate percent effect on deliquency days by reporting period')

### Original Interest Rate Type Code

Indicate whether the interest rate on the loan is fixed, adjustable or other. 1: Fixed, 2: Adjustable, 98: Other

In [39]:
df.originalinterestratetypecode.isna().mean()

0.0

In [40]:
df.originalinterestratetypecode.unique()

array([1.])

Since there are no other categories other than 1: Fixed, We will delete this columns as it is not adding any variability to the model

In [41]:
df.drop(['originalinterestratetypecode'],axis=1, inplace=True)
df.shape

(502928, 42)

### Original Interest Only Term Number..dropped due to no data

Indicate the number of months from origination in which the obligor is permitted to pay only interest on the loan beginning from when the loan was originated.

In [42]:
df.originalinterestonlytermnumber.isna().mean()

1.0

In [43]:
df.originalinterestonlytermnumber.unique()

array([nan])

Since there are no values in this column, we will delete this column feature

In [44]:
df.drop(['originalinterestonlytermnumber'],axis=1, inplace=True)
df.shape

(502928, 41)

### Underwriting Indicator dropped due to all being True

Indicate whether the loan met the criteria for the first level of solicitation, credit-granting or underwriting criteria used to originate the loan.

In [45]:
df.underwritingindicator.unique()

array([True], dtype=object)

In [48]:
df.drop(['underwritingindicator'],axis=1, inplace=True)
df.shape

(502928, 40)

In [46]:
# missing values
#df.underwritingindicator.isna().mean()

0.0

In [47]:
#df['underwritingindicator']=df.underwritingindicator.astype('category')

In [ ]:
#draw(df.underwritingindicator, title='Underwriting Indicator', ylabel='Number of Loans', sort=True)

In [ ]:
#df.groupby(df.underwritingindicator).plot(kind='scatter', x='originalinterestratepercentage',y='currentdelinquencystatus', title='interest rate percent effect on deliquency days by reporting period')

### Create Feature Column Underwriting

In [ ]:
# def map_underwriting_true(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column == True:
#             return 1
#         elif column == False:
#             return 0
        
# df['underwriting_true'] = list(map(map_underwriting_true, df.underwritingindicator))
# df.drop(['underwritingindicator'], axis=1, inplace=True)
# pd.value_counts(df.underwriting_true)

### Underwriting TRUE current deliquency status

In [ ]:
# #df.loc[df.underwriting_true==1].currentdelinquencystatus.plot(kind='hist', bins=10)
# print('Total :',df.loc[df.underwriting_true==1].currentdelinquencystatus.value_counts().sum())
# df.loc[df.underwriting_true==1].currentdelinquencystatus.value_counts().head()

### Underwriting FALSE current deliquency status

In [ ]:
#df.loc[df.underwriting_true==0].currentdelinquencystatus.plot(kind='hist', bins=10)
# print('Total :',df.loc[df.underwriting_true==0].currentdelinquencystatus.value_counts().sum())
# df.loc[df.underwriting_true==0].currentdelinquencystatus.value_counts().head()

### Subvented

Indicate yes or no as to whether a form of subsidy is received on the loan, such as cash incentives or favorable financing for the buyer. 0: No, 1: Yes - Rate Subvention, 2: Yes - Cash Rebate, 98: Yes - Other

In [49]:
df.subvented.unique()

array(['["2"]', '["1","2"]', '["0"]', '["1"]'], dtype=object)

In [ ]:
#df['subvented']=df.subvented.replace('["1"," 2"]','["1","2"]').replace('["1"," 98"]','["1","98"]').replace('["2","1"]', '["1","2"]')

In [ ]:
#df.subvented.unique()

In [50]:
df['subvented']=df.subvented.astype('category')

In [ ]:
#draw(df.subvented, title='Subvented', ylabel='Number of Loans', sort=True)

In [51]:
df.subvented.describe(include='all')

count        502928
unique            4
top       ["1","2"]
freq         243572
Name: subvented, dtype: object

### subvented effect on original interest rate percent and current deliquency days by reporting period

In [ ]:
#label=df.groupby([df.reportingperiodendingdate, df.subvented])
#pd.value_counts(df.reportingperiodendingdate).keys().tolist()
#pd.value_counts(df.subvented).keys().tolist()
# sorted_obj=['["0"]','["1"]','["2"]''["98"]']
# label=[]
# for i in pd.value_counts(df.reportingperiodendingdate).sort_values(ascending=True).keys().tolist():
#     for j in pd.value_counts(df.subvented).sort_values(sorted_obj).keys().tolist():
#         label.append(str(i)+str(j))
# print(label)
#pd.value_counts(df.groupby([df.reportingperiodendingdate, df.subvented])).keys().tolist()


#df.loc[df.underwriting_true==0].currentdelinquencystatus.plot(kind='hist', bins=10)
#df.groupby([df.subvented]).plot(kind='scatter', x='originalinterestratepercentage',y='currentdelinquencystatus')

### Create Feature Column for Subvented

In [52]:
# create feature columns for subvented
def map_subvented(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.subvented).index.tolist()

for code in codes:
        df['subvented_{}'.format(code)] = list(map(map_subvented, df.subvented))
        print('Added Column for :   subvented_'+code)
print('New Dataframe shape : ', df.shape)
df.drop(['subvented'], axis=1, inplace=True)

Added Column for :   subvented_["1","2"]
Added Column for :   subvented_["2"]
Added Column for :   subvented_["1"]
Added Column for :   subvented_["0"]
New Dataframe shape :  (502928, 44)

### Vehicle New or Used code

Indicate whether the vehicle financed is new or used at the time of origination. 1: New, 2: Used

In [54]:
df.vehiclenewusedcode.unique()

[1.0, 2.0]
Categories (2, float64): [1.0, 2.0]

In [53]:
df['vehiclenewusedcode']=df.vehiclenewusedcode.astype('category')

In [ ]:
#draw(df.vehiclenewusedcode, title='Vehicle New or Used code', ylabel='Number of Loans', sort=True)

### Create Feature Column for New or Used

In [55]:
def map_vehiclenewusedcode_true(*args):
    columns = [col for col in args]
    for column in columns:
        if column == 1:
            return 1
        else:
            return 0
        
df['vehiclenew_true'] = list(map(map_vehiclenewusedcode_true, df.vehiclenewusedcode))
print('Added Column for :   vehiclenew_true')
df.drop(['vehiclenewusedcode'], axis=1, inplace=True)
pd.value_counts(df.vehiclenew_true)

Added Column for :   vehiclenew_true

1    436027
0     66901
Name: vehiclenew_true, dtype: int64

### New Vehicles mean deliquency days by the reporting period

In [ ]:
#df.groupby([df.reportingperiodendingdate,df.vehiclenew_true]).currentdelinquencystatus.mean()

### Vehicle Type code

Indicate the code describing the vehicle type. 1: Car, 2:
Truck, 3: SUV, 4: Motorcycle, 98: Other, 99: Unknown

In [56]:
df.vehicletypecode.unique()

array([2., 1., 3.])

In [57]:
df['vehicletypecode']=df.vehicletypecode.astype('category')

In [58]:
df['vehicletypecode']=df.vehicletypecode.replace(1.0,'Car').replace(2.0,'Truck').replace(3.0,'SUV').replace(4.0,'Motorcycle').replace(98.0,'Other').replace(99.0,'Unknown')

In [ ]:
#draw(df.vehicletypecode, title='Vehicle Type Code', ylabel='Number of Loans', sort=True)

In [ ]:
#df.vehicletypecode.describe()

In [59]:
df.vehicletypecode.isna().mean()

0.0

### Create Features for Vehicle Type Code

def map_vehicletypecode(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.vehicletypecode).index.tolist()

for code in codes:
        df['vehicletypecode_{}'.format(code)] = list(map(map_vehicletypecode, df.vehicletypecode))
        print('Added Column for :   vehicletypecode_'+code)
print('New Dataframe shape : ', df.shape)
df.drop(['vehicletypecode'], axis=1, inplace=True)
df.shape

### Vehicle Manufacturer Name

In [64]:
df.vehiclemanufacturername.unique()

array(['FORD', 'LINC'], dtype=object)

In [62]:
df.vehiclemanufacturername.isna().mean()

0.0

### Create Features for Vehicle Manufacturer Name

In [65]:
def map_vehiclemanufacturername(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.vehiclemanufacturername).index.tolist()

for code in codes:
        df['vehiclemanufacturername_{}'.format(code)] = list(map(map_vehiclemanufacturername, df.vehiclemanufacturername))
        print('Added Column for :   vehiclemanufacturername_'+code)
print('New Dataframe shape : ', df.shape)

Added Column for :   vehiclemanufacturername_FORD
Added Column for :   vehiclemanufacturername_LINC
New Dataframe shape :  (502928, 47)

In [66]:
df.drop(['vehiclemanufacturername'], axis=1, inplace=True)
df.shape

(502928, 46)

### Vehicle Model Name

In [67]:
df.vehiclemodelname.unique()

array(['F-250', 'F-150', 'Fusion', 'Flex', 'Escape', 'Ranger', 'Explorer',
       'Focus', 'Edge', 'F-350', 'Transit Connect', 'F-450', 'Taurus',
       'MKZ', 'E-350', 'Fiesta', 'Mustang', 'MKX', 'MKT', 'Expedition',
       'E-150', 'E-250', 'MKS', 'F-550', 'C-Max', 'F-59', 'Navigator',
       'E-450', 'MKC', 'T-250', 'T-350', 'T-150', 'Town Car', 'Excursion',
       'Thunderbird', 'Aviator', 'Continental'], dtype=object)

In [69]:
df.vehiclemodelname.isna().mean()

0.0

In [70]:
def map_vehiclemodelname(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.vehiclemodelname).index.tolist()

for code in codes:
        df['vehiclemodelname_{}'.format(code)] = list(map(map_vehiclemodelname, df.vehiclemodelname))
        print('Added Column for :   vehiclemodelname_'+code)
print('New Dataframe shape : ', df.shape)

Added Column for :   vehiclemodelname_F-150
Added Column for :   vehiclemodelname_Escape
Added Column for :   vehiclemodelname_Fusion
Added Column for :   vehiclemodelname_Focus
Added Column for :   vehiclemodelname_Explorer
Added Column for :   vehiclemodelname_Edge
Added Column for :   vehiclemodelname_F-250
Added Column for :   vehiclemodelname_F-350
Added Column for :   vehiclemodelname_Mustang
Added Column for :   vehiclemodelname_Fiesta
Added Column for :   vehiclemodelname_MKX
Added Column for :   vehiclemodelname_Expedition
Added Column for :   vehiclemodelname_Transit Connect
Added Column for :   vehiclemodelname_T-250
Added Column for :   vehiclemodelname_MKZ
Added Column for :   vehiclemodelname_Taurus
Added Column for :   vehiclemodelname_C-Max
Added Column for :   vehiclemodelname_MKC
Added Column for :   vehiclemodelname_T-350
Added Column for :   vehiclemodelname_F-550
Added Column for :   vehiclemodelname_Flex
Added Column for :   vehiclemodelname_Navigator
Added Column for :   vehiclemodelname_T-150
Added Column for :   vehiclemodelname_F-450
Added Column for :   vehiclemodelname_E-350
Added Column for :   vehiclemodelname_MKS
Added Column for :   vehiclemodelname_MKT
Added Column for :   vehiclemodelname_E-250
Added Column for :   vehiclemodelname_Continental
Added Column for :   vehiclemodelname_E-450
Added Column for :   vehiclemodelname_E-150
Added Column for :   vehiclemodelname_F-59
Added Column for :   vehiclemodelname_Ranger
Added Column for :   vehiclemodelname_Town Car
Added Column for :   vehiclemodelname_Thunderbird
Added Column for :   vehiclemodelname_Excursion
Added Column for :   vehiclemodelname_Aviator
New Dataframe shape :  (502928, 83)

In [72]:
df.drop(['vehiclemodelname'], axis=1, inplace=True)
df.shape

(502928, 82)

### Vehicle Model Year

In [73]:
df.vehiclemodelyear.unique()

array([2011., 2012., 2009., 2010., 2013., 2008., 2014., 2015., 2006.,
       2007., 2004., 2005., 2016., 2017., 2003., 1997., 2001., 2002.,
       2018.])

In [74]:
df.vehiclemodelyear.isna().mean()

0.0

In [75]:
df['vehiclemodelyear']=df.vehiclemodelyear.astype('object')

In [77]:
def map_vehiclemodelyear(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.vehiclemodelyear).index.tolist()

for code in codes:
        df['vehiclemodelyear_{}'.format(code)] = list(map(map_vehiclemodelyear, df.vehiclemodelyear))
        print('Added Column for :   vehiclemodelyear_'+str(code))
print('New Dataframe shape : ', df.shape)

Added Column for :   vehiclemodelyear_2016.0
Added Column for :   vehiclemodelyear_2015.0
Added Column for :   vehiclemodelyear_2014.0
Added Column for :   vehiclemodelyear_2017.0
Added Column for :   vehiclemodelyear_2013.0
Added Column for :   vehiclemodelyear_2012.0
Added Column for :   vehiclemodelyear_2011.0
Added Column for :   vehiclemodelyear_2010.0
Added Column for :   vehiclemodelyear_2009.0
Added Column for :   vehiclemodelyear_2008.0
Added Column for :   vehiclemodelyear_2007.0
Added Column for :   vehiclemodelyear_2006.0
Added Column for :   vehiclemodelyear_2004.0
Added Column for :   vehiclemodelyear_2005.0
Added Column for :   vehiclemodelyear_2002.0
Added Column for :   vehiclemodelyear_2003.0
Added Column for :   vehiclemodelyear_2001.0
Added Column for :   vehiclemodelyear_1997.0
Added Column for :   vehiclemodelyear_2018.0
New Dataframe shape :  (502928, 101)

In [78]:
df.drop(['vehiclemodelyear'], axis=1, inplace=True)

### Vehicle Value Amount

In [79]:
df.vehiclevalueamount.unique()

array([46124., 36702., 22323., ..., 55997., 36219., 47132.])

In [80]:
df.vehiclevalueamount.isna().mean()

0.0

In [81]:
df['vehiclevalueamount']=df.vehiclevalueamount.astype('float')

### Vehicle Value Source Code

In [82]:
df.vehiclevaluesourcecode.unique()

array([ 1., 98.])

In [83]:
df.vehiclevaluesourcecode.isna().mean()

0.0

In [84]:
df['vehiclevaluesourcecode']=df.vehiclevaluesourcecode.astype('object')

In [85]:
def map_vehiclevaluesourcecode(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.vehiclevaluesourcecode).index.tolist()

for code in codes:
        df['vehiclevaluesourcecode_{}'.format(code)] = list(map(map_vehiclevaluesourcecode, df.vehiclevaluesourcecode))
        print('Added Column for :   vehiclevaluesourcecode_'+str(code))
print('New Dataframe shape : ', df.shape)

Added Column for :   vehiclevaluesourcecode_1.0
Added Column for :   vehiclevaluesourcecode_98.0
New Dataframe shape :  (502928, 102)

In [86]:
df.drop(['vehiclevaluesourcecode'], axis=1, inplace=True)

In [87]:
df.shape

(502928, 101)

### Obligor Geographic Location

In [88]:
df.obligorgeographiclocation.unique()

array(['MS', 'TN', 'PA', 'NM', 'SC', 'CA', 'GA', 'OH', 'LA', 'TX', 'OR',
       'OK', 'KY', 'NH', 'MI', 'IL', 'NY', 'FL', 'NJ', 'WI', 'NV', 'IN',
       'IA', 'VA', 'HI', 'MO', 'WV', 'NC', 'MA', 'MD', 'WA', 'CT', 'AL',
       'MN', 'ID', 'CO', 'MT', 'NE', 'AZ', 'KS', 'VT', 'ME', 'AR', 'RI',
       'SD', 'UT', 'DE', 'AK', 'ND', 'WY', 'DC', 'AE', 'PR'], dtype=object)

In [89]:
df.obligorgeographiclocation.isna().mean()

0.0

In [90]:
df['obligorgeographiclocation']=df.obligorgeographiclocation.astype('object')

In [91]:
def map_obligorgeographiclocation(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.obligorgeographiclocation).index.tolist()

for code in codes:
        df['obligorgeographiclocation_{}'.format(code)] = list(map(map_obligorgeographiclocation, df.obligorgeographiclocation))
        print('Added Column for :   obligorgeographiclocation_'+str(code))
print('New Dataframe shape : ', df.shape)

Added Column for :   obligorgeographiclocation_TX
Added Column for :   obligorgeographiclocation_CA
Added Column for :   obligorgeographiclocation_FL
Added Column for :   obligorgeographiclocation_IL
Added Column for :   obligorgeographiclocation_OH
Added Column for :   obligorgeographiclocation_MI
Added Column for :   obligorgeographiclocation_PA
Added Column for :   obligorgeographiclocation_NC
Added Column for :   obligorgeographiclocation_NY
Added Column for :   obligorgeographiclocation_GA
Added Column for :   obligorgeographiclocation_NJ
Added Column for :   obligorgeographiclocation_MO
Added Column for :   obligorgeographiclocation_VA
Added Column for :   obligorgeographiclocation_TN
Added Column for :   obligorgeographiclocation_MD
Added Column for :   obligorgeographiclocation_IN
Added Column for :   obligorgeographiclocation_MA
Added Column for :   obligorgeographiclocation_LA
Added Column for :   obligorgeographiclocation_WI
Added Column for :   obligorgeographiclocation_AZ
Added Column for :   obligorgeographiclocation_MN
Added Column for :   obligorgeographiclocation_AL
Added Column for :   obligorgeographiclocation_OK
Added Column for :   obligorgeographiclocation_SC
Added Column for :   obligorgeographiclocation_KY
Added Column for :   obligorgeographiclocation_CO
Added Column for :   obligorgeographiclocation_WA
Added Column for :   obligorgeographiclocation_MS
Added Column for :   obligorgeographiclocation_IA
Added Column for :   obligorgeographiclocation_KS
Added Column for :   obligorgeographiclocation_NV
Added Column for :   obligorgeographiclocation_CT
Added Column for :   obligorgeographiclocation_OR
Added Column for :   obligorgeographiclocation_AR
Added Column for :   obligorgeographiclocation_WV
Added Column for :   obligorgeographiclocation_NE
Added Column for :   obligorgeographiclocation_NM
Added Column for :   obligorgeographiclocation_UT
Added Column for :   obligorgeographiclocation_NH
Added Column for :   obligorgeographiclocation_ME
Added Column for :   obligorgeographiclocation_DE
Added Column for :   obligorgeographiclocation_MT
Added Column for :   obligorgeographiclocation_SD
Added Column for :   obligorgeographiclocation_ID
Added Column for :   obligorgeographiclocation_VT
Added Column for :   obligorgeographiclocation_ND
Added Column for :   obligorgeographiclocation_HI
Added Column for :   obligorgeographiclocation_WY
Added Column for :   obligorgeographiclocation_RI
Added Column for :   obligorgeographiclocation_AK
Added Column for :   obligorgeographiclocation_DC
Added Column for :   obligorgeographiclocation_AE
Added Column for :   obligorgeographiclocation_PR
New Dataframe shape :  (502928, 154)

In [92]:
df.drop(['obligorgeographiclocation'], axis=1, inplace=True)

In [93]:
df.shape

(502928, 153)

### Primary Loan Servicer Name

In [94]:
df.primaryloanservicername.unique()

array(['Ford Credit'], dtype=object)

In [95]:
df.drop(['primaryloanservicername'], axis=1, inplace=True)

In [96]:
df.shape

(502928, 152)

### Obligor Credit Score Type

Specify the type of the standardized credit score used to
evaluate the obligor during the loan origination process

In [ ]:
#df.obligorcreditscoretype.unique()

In [97]:
df['obligorcreditscoretype']=df.obligorcreditscoretype.astype('category')

In [98]:
df.obligorcreditscoretype.isna().mean()

0.0

In [99]:
df.obligorcreditscoretype.value_counts()

Consumer Bureau      423537
Commercial Bureau     79391
Name: obligorcreditscoretype, dtype: int64

In [ ]:
# #remove = ['Unknown/Invalid', 'None' ]

# u=pd.value_counts(df.obligorcreditscoretype==str('Unknown/Invalid') & ('None'))
# if len(u)<2:
#     print('No blank or zero obligor income verification level code')
# else: 
#     print('Number of loans with no obligor income verification level code',':', u[1])
#     print('Dropping ', u[1], 'rows and retaining loans with obligor income verification level code')
#     #df=df[df.obligorincomeverificationlevelcode>0]
# df.shape

In [ ]:
#df=df[~df.obligorcreditscore.astype(str).str.contains('None')]

In [ ]:
#pd.value_counts(df.obligorcreditscoretype=='None')

In [ ]:
#df.obligorcreditscore=df.obligorcreditscore.replace('Unknown/Invalid', np.nan)

In [ ]:
#pd.value_counts(df.obligorcreditscoretype)

In [ ]:
#df=df[~df.obligorcreditscore.astype(str).str.contains('Unknown/Invalid')]

In [ ]:
#pd.value_counts(df.obligorcreditscoretype=='Unknown/Invalid')

In [ ]:
#df['obligorcreditscoretype']=df.obligorcreditscoretype.astype('str')

In [ ]:
#pd.value_counts(df.obligorcreditscoretype=='Unknown/Invalid')

In [ ]:
#df=df[~df.obligorcreditscore.astype(str).str.contains('Unknown/Invalid')]

In [ ]:
#pd.value_counts(df.obligorcreditscoretype=='Unknown/Invalid')

In [ ]:
#draw(df.obligorcreditscoretype, title='Obligor Credit Score Type', ylabel='Number of Loans', sort=True)

In [ ]:
#df.obligorcreditscoretype.describe()

In [ ]:
#df.groupby([df.reportingperiodendingdate,df.obligorcreditscoretype]).currentdelinquencystatus.mean()

### Create features for obligator credit score type

In [100]:
def map_obligorcreditscoretype(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.obligorcreditscoretype).index.tolist()

for code in codes:
        df['credit_type_{}'.format(code)] = list(map(map_obligorcreditscoretype, df.obligorcreditscoretype))
        print('Added Column for :   credit_type_'+code)

Added Column for :   credit_type_Consumer Bureau
Added Column for :   credit_type_Commercial Bureau

In [101]:
df.drop(['obligorcreditscoretype'], axis=1, inplace=True)
df.shape

(502928, 153)

### Obligor Credit Score

Provide the standardized credit score of the obligor used to
evaluate the obligor during the loan origination process

In [102]:
df.obligorcreditscore.isna().mean()

0.0

In [ ]:
#draw(df.obligorcreditscore, title='Obligor Credit Score', ylabel='Number of Loans', sort=True, n=10)

In [ ]:
#df.obligorcreditscore.describe()

### Remove and Drop rows of Obligor Credit Score with strings('no score', 'none', 'Nan')

In [105]:
#search for strings in the columns
q=df.obligorcreditscore.astype(str).str.contains(r'^([^0-9]*)$', na=False).sum()
print('Number of Strings in the Columns : ', q)
if q > 0:
    u=df[df.obligorcreditscore.astype(str).str.contains(r'^([^0-9]*)$', na=False)].obligorcreditscore.unique()
    print('Strings in data : ', u)
    df=df[~df.obligorcreditscore.astype(str).str.contains(r'^([^0-9]*)$', na=False)]
else:
    print('No strings in the Obligor Credit Score')

C:\Progra~1\Anaconda3_4\envs\tf_111\lib\site-packages\ipykernel\__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app

Number of Strings in the Columns :  26309

C:\Progra~1\Anaconda3_4\envs\tf_111\lib\site-packages\ipykernel\__main__.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

Strings in data :  ['No Score']

C:\Progra~1\Anaconda3_4\envs\tf_111\lib\site-packages\ipykernel\__main__.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [ ]:
#Number of blanks in the column
# df.obligorcreditscore.astype(str).str.contains(r'^(\s+)$').sum()

In [ ]:
#pd.crosstab(df.reportingperiodendingdate, df.obligorcreditscore)

In [ ]:

#df=df[~df.obligorcreditscore.str.contains(r'^([^0-9]*)$', na=False)]

In [ ]:
#df.isnull().sum()

In [ ]:
#df.obligorcreditscore.isnull().value_counts()

In [ ]:
#df[df.obligorcreditscore.isnull()]

In [ ]:
#df=df.dropna(subset=['obligorcreditscore'])

In [106]:
df.obligorcreditscore.value_counts(dropna=False).sort_values(ascending=False).head()

677    2424
818    2315
840    2239
825    2213
830    2192
Name: obligorcreditscore, dtype: int64

In [107]:
df.obligorcreditscore.isnull().values.any()

False

In [108]:
df['obligorcreditscore']=df.obligorcreditscore.astype('float')

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.obligorcreditscoretype]).obligorcreditscore.mean()

In [ ]:
#df.drop(['obligorcreditscoretype'], axis=1, inplace=True)

In [109]:
df.shape

(476619, 153)

### Obligor Income Verification Level Code

Indicate the code describing the extent to which the
obligor's income was verified during the loan origination
process. 1: Not stated, not verified, 2: Stated, not verified,
3: Stated, verified but not to level 4 or level 5., 4: Stated,
"level 4" verifiedLevel 4 income verification = Previous year
W-2 or tax returns, and year-to-date pay stubs, if salaried. If
self-employed, then obligor provided 2 years of tax returns.,
5: Stated, "level 5" verifiedLevel 5 income verification = 24
months income verification (W-2s, pay stubs, bank
statements and/or tax returns). If self-employed, then
obligor provided 2 years tax returns plus a CPA certification
of the tax returns.

In [110]:
df.obligorincomeverificationlevelcode.isna().mean()

0.13241813691858698

In [111]:
df['obligorincomeverificationlevelcode']=df.obligorincomeverificationlevelcode.astype('category')

In [112]:
df=df.dropna(subset=['obligorincomeverificationlevelcode'])

In [113]:
df.obligorincomeverificationlevelcode.isna().mean()

0.0

In [ ]:
#draw(df.obligorincomeverificationlevelcode, title='Obligor Credit Score', ylabel='Number of Loans', sort=True)

In [ ]:
#df.obligorincomeverificationlevelcode.describe()

In [ ]:
#pd.value_counts(df.obligorincomeverificationlevelcode)

In [114]:
u=pd.value_counts(df.obligorincomeverificationlevelcode==0)
if len(u)<2:
    print('No blank or zero obligor income verification level code')
else: 
    print('Number of loans with no obligor income verification level code',':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with obligor income verification level code')
    df=df[df.obligorincomeverificationlevelcode>0]
df.shape

No blank or zero obligor income verification level code

(413506, 153)

In [115]:
df.obligorincomeverificationlevelcode.unique()

[2.0, 3.0, 4.0, 5.0, 1.0]
Categories (5, float64): [2.0, 3.0, 4.0, 5.0, 1.0]

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.obligorincomeverificationlevelcode]).obligorcreditscore.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.obligorincomeverificationlevelcode]).currentdelinquencystatus.mean()

### Create Feature Columns for Obligor Income Verification Code

In [116]:
def map_obligorincomeverificationlevelcode(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.obligorincomeverificationlevelcode).index.tolist()

for code in codes:
        df['income_code_{}'.format(code)] = list(map(map_obligorincomeverificationlevelcode, df.obligorincomeverificationlevelcode))
        print('Added Column for :   income_code_'+str(code))

Added Column for :   income_code_2.0
Added Column for :   income_code_3.0
Added Column for :   income_code_4.0
Added Column for :   income_code_1.0
Added Column for :   income_code_5.0

In [117]:
df.drop(['obligorincomeverificationlevelcode'], axis=1, inplace=True)
df.shape

(413506, 157)

### Obligor Employment Verification Code

Indicate the code describing the extent to which the
obligor's employment was verified during the loan
origination process. 1: Not stated, not verified, 2: Stated,
not verified, 3: Stated, level 3 verified Level 3 verified =
Direct independent verification with a third party of the
obligors current employment.

In [118]:
df.obligoremploymentverificationcode.isna().mean()

0.0

In [119]:
df['obligoremploymentverificationcode']=df.obligoremploymentverificationcode.astype('category')

In [120]:
df.obligoremploymentverificationcode.unique()

[2.0, 3.0, 1.0]
Categories (3, float64): [2.0, 3.0, 1.0]

In [ ]:
#draw(df.obligoremploymentverificationcode, title='Obligor Employment Verification Code', ylabel='Number of Loans', sort=True)

In [ ]:
#df.obligoremploymentverificationcode.describe()

In [121]:
u=pd.value_counts(df.obligoremploymentverificationcode==0)
if len(u)<2:
    print('No blank or zero obligor employment verification level code')
else: 
    print('Number of loans with no obligor employment verification level code',':', u[1])
    print('Dropping ', u[1], 'rows and retaining loans with obligor employment verification level code')
    df=df[df.obligoremploymentverificationcode>0]
df.shape

No blank or zero obligor employment verification level code

(413506, 157)

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.obligoremploymentverificationcode]).obligorcreditscore.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.obligoremploymentverificationcode]).currentdelinquencystatus.mean()

### Create feature Columns for obligor employment verification

In [122]:
def map_obligoremploymentverificationcode(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.obligoremploymentverificationcode).index.tolist()

for code in codes:
        df['empl_code_{}'.format(code)] = list(map(map_obligoremploymentverificationcode, df.obligoremploymentverificationcode))
        print('Added Column for :   empl_code_'+str(code))

Added Column for :   empl_code_2.0
Added Column for :   empl_code_3.0
Added Column for :   empl_code_1.0

In [123]:
df.drop(['obligoremploymentverificationcode'], axis=1, inplace=True)
df.shape

(413506, 159)

### Co-obligator Indicator

Indicate whether the loan has a co-obligor.

In [124]:
df.coobligorindicator.isna().mean()

0.0

In [125]:
df['coobligorindicator']=df.coobligorindicator.astype('category')

In [ ]:
#df.coobligorindicator.describe()

In [126]:
df.coobligorindicator.unique()

[False, True]
Categories (2, object): [False, True]

In [127]:
pd.value_counts(df.coobligorindicator)

False    273598
True     139908
Name: coobligorindicator, dtype: int64

In [ ]:
#draw(df.coobligorindicator, title='Co-Obligator Indicator', ylabel='Number of Loans', sort=True)

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.coobligorindicator]).obligorcreditscore.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.coobligorindicator]).currentdelinquencystatus.mean()

### Create features for Co-obligator Indicator

In [128]:
def map_coobligorindicator_true(*args):
    columns = [col for col in args]
    for column in columns:
        if column == 1:
            return 1
        else:
            return 0
        
df['coobligorindicator_true'] = list(map(map_coobligorindicator_true, df.coobligorindicator))
df.drop(['coobligorindicator'], axis=1, inplace=True)
print('Added Column for :   coobligorindicator_true')
df.shape

Added Column for :   coobligorindicator_true

(413506, 159)

### Servicing Fee Percentage

In [131]:
df.servicingfeepercentage.isna().mean()

0.0

In [132]:
df.servicingfeepercentage.unique()

array([0.01])

In [133]:
df.drop(['servicingfeepercentage'], axis=1, inplace=True)

### Servicing Flat Fee Amount

In [134]:
df.servicingflatfeeamount.isna().mean()

1.0

In [135]:
df.servicingflatfeeamount.unique()

array([nan])

In [136]:
df.drop(['servicingflatfeeamount'], axis=1, inplace=True)

### Reporting Period Actual End Balance Amount

Mean reporting period actual end balance amount by the reporting period ending date

In [130]:
#df.reportingperiodactualendbalanceamount.isna().mean()

In [ ]:
#df.groupby(df.reportingperiodendingdate).reportingperiodactualendbalanceamount.mean().plot(kind='bar')

In [ ]:
#df.reportingperiodactualendbalanceamount.describe()

In [ ]:
#df.groupby([df.reportingperiodendingdate]).reportingperiodactualendbalanceamount.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate]).plot(kind='scatter', x='reportingperiodactualendbalanceamount',y='currentdelinquencystatus')

### Dropping loans with zero or negative reporting period actual end balance amount

In [ ]:
# u=pd.value_counts(df.reportingperiodactualendbalanceamount<=0)
# if len(u)<2:
#     print('No blank or zero or negative reporting period actual end balance amount')
# else: 
#     print('Number of loans with no reporting period actual end balance amount',':', u[1])
#     print('Dropping ', u[1], 'rows and retaining loans with reporting period actual end balance amount')
#     df=df[df.reportingperiodactualendbalanceamount>0]
# df.shape

### Total Actual amount paid...keep or drop?

In [ ]:
#df.totalactualamountpaid.isna().mean()

In [ ]:
#df=df.dropna(subset=['totalactualamountpaid'])

In [ ]:
#df.totalactualamountpaid.describe()

In [ ]:
# u=pd.value_counts(df.totalactualamountpaid<=0)
# if len(u)<2:
#     print('No blank or zero or negative total actual amount paid')
# else: 
#     print('Number of loans with no or negative total actual amount paid',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with positive total actual amount paid')
#     #df=df[df.totalactualamountpaid>0]
# df.shape

## Actual interest collected amount...drop?

In [ ]:
#df.actualinterestcollectedamount.isna().mean()

In [ ]:
#df.actualinterestcollectedamount.describe()

In [ ]:
# u=pd.value_counts(df.actualinterestcollectedamount<=0)
# if len(u)<2:
#     print('No blank or zero actual interest collected amount')
# else: 
#     print('Number of loans with no or negative actual interest collected amount',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with positive actual interest collected amount')
#     #df=df[df.actualinterestcollectedamount>0]
# df.shape

### Actual principal collected amount..drop ?

In [ ]:
#df.actualprincipalcollectedamount.isna().mean()

In [ ]:
#df.actualprincipalcollectedamount.describe()

In [ ]:
# u=pd.value_counts(df.actualprincipalcollectedamount<=0)
# if len(u)<2:
#     print('No blank or zero actual principal collected amount')
# else: 
#     print('Number of loans with zero or negative actual principal collected amount',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with positive actual principal collected amount')
#     #df=df[df.actualprincipalcollectedamount>0]
# df.shape

### Interest paid through date Drop?

In [ ]:
#df.interestpaidthroughdate.isna().mean()
#pd.value_counts(df.interestpaidthroughdate).head(n=10)

In [ ]:
#df.interestpaidthroughdate.isna().sum()

In [ ]:
#df.interestpaidthroughdate.describe()

### Dropping interest paid through date '1900-01-01'

In [ ]:
# u=pd.value_counts(df.interestpaidthroughdate=='1900-01-01')
# if len(u)<2:
#     print('No blank or zero interest paid throughdate as 1900-01-01')
# else: 
#     print('Number of loans with zero or 1900-01-01 as  interest paid throughdate',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with correct interest paid throughdate')
#     #df=df[df.interestpaidthroughdate>'1900-01-01']
# df.shape

### Dropping interest paid through data

In [ ]:
# df.drop(['interestpaidthroughdate'], axis=1, inplace=True)
# df.shape

### Number of Days from origination to first payment date

In [137]:
df.originalfirstpaymentdate.isna().mean()

0.0

In [138]:
df.originalfirstpaymentdate.unique()

array(['2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31',
       '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30',
       '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31',
       '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31',
       '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30',
       '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31',
       '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31',
       '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30',
       '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31',
       '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31',
       '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30',
       '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31',
       '2016-03-31', '2016-04-30', '2016-02-29', '2016-05-31',
       '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30',
       '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31'],
      dtype=object)

In [139]:
df['daystofirstpayment'] = pd.to_datetime(df['originalfirstpaymentdate'])-pd.to_datetime(df['originationdate'])
#draw a chart for visual look and analysis
#draw(df.daystofirstpayment, title='Days to First Payment', ylabel='Number of Loans', sort = True, n=5)

In [ ]:
#df.daystofirstpayment.describe()

### Create a new feature for number of days to first payment

In [140]:
#remove days string for machine learning
df['daystofirstpayment']=df.daystofirstpayment.map(lambda x: np.nan if pd.isnull(x) else x.days)
#display last five rows
#df.daystofirstpayment.tail()

### Number of loans with zero days to first payment

In [141]:
u=pd.value_counts(df.daystofirstpayment==0)
if len(u)<2:
    print('No blank or zero days to first payment')
else: 
    print('Number of loans with zero days to first payment',':', u[1])
    #print('Dropping ', u[1], 'rows and retaining loans with positive total actual amount paid')
    #df=df[df.daystofirstpayment>0]
df.shape

Number of loans with zero days to first payment : 40

(413506, 158)

In [ ]:
#df.groupby([df.reportingperiodendingdate]).daystofirstpayment.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate]).plot(kind='scatter', x='daystofirstpayment',y='currentdelinquencystatus')

In [142]:
df.drop(['originalfirstpaymentdate'], axis=1, inplace=True)
df.shape

(413506, 157)

### Payment Type Code

In [143]:
df.paymenttypecode.unique()

array([2.])

In [144]:
df.drop(['paymenttypecode'], axis=1, inplace=True)

### Grace Period Number

Indicate the number of months during which time interest accrues but no payments are due from the obligor.

In [146]:
#df.graceperiodnumber.isna().mean()

In [ ]:
#draw(df.graceperiodnumber, title='Grace period Number', ylabel='Number of Loans', sort = True)

In [ ]:
df.graceperiodnumber.describe()

In [ ]:
#df.groupby([df.reportingperiodendingdate]).graceperiodnumber.mean()

### Number of loans with zero grace period

In [ ]:
# u=pd.value_counts(df.graceperiodnumber==0)
# if len(u)<2:
#     print('No blank or zero grace period number')
# else: 
#     print('Number of loans with zero grace period number',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with positive grace period number')
#     #df=df[df.graceperiodnumber>0]
# df.shape

### Asset added indicator...not included

Indicate yes or no whether the asset was added during the
reporting period. Instruction: A response to this data point
is only required when assets are added to the asset pool
after the final prospectus is filed

In [148]:
#df['assetaddedindicator']=df.assetaddedindicator.astype('category')

In [ ]:
#df.assetaddedindicator.unique()

In [ ]:
#df.assetaddedindicator.isna().mean()

In [ ]:
#draw(df.assetaddedindicator, title='Asset Added Indicator', ylabel='Proportion of Loans', sort = False, n=2)

In [ ]:
#df.assetaddedindicator.describe()

In [ ]:
# u=pd.value_counts(df.assetaddedindicator!=False)
# if len(u)<2:
#     print('No blank or zero Asset Added Indicator')
# else: 
#     print('Number of loans with zero or blank Asset Added Indicator',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with positive asset added indicator')
#     #df=df[df.assetaddedindicator>0]
# df.shape

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.assetaddedindicator]).currentdelinquencystatus.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.assetaddedindicator]).obligorcreditscore.mean()

In [ ]:
# df.drop(['assetaddedindicator'], axis=1, inplace=True)
# df.shape

### Reporting Period Modification Indicator.. added for now. would it reveal delinquency?

Indicates yes or no whether the loan was modified from its
original terms during the reporting period.

In [ ]:
#df.reportingperiodmodificationindicator.isna().mean()

In [ ]:
#df['reportingperiodmodificationindicator']=df.reportingperiodmodificationindicator.astype('category')

In [ ]:
#draw(df.reportingperiodmodificationindicator, title='Reporting Period Modification Error', ylabel='Proportion of Loans', sort = True)

In [ ]:
#df.reportingperiodmodificationindicator.describe()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.reportingperiodmodificationindicator]).currentdelinquencystatus.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.reportingperiodmodificationindicator]).obligorcreditscore.mean()

### Create Features for Reporting Period Modification Indicator True

In [ ]:
# def map_reportingperiodmodificationindicator_true(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column == 1:
#             return 1
#         else:
#             return 0
        
# df['reportingperiodmodificationindicator_true'] = list(map(map_reportingperiodmodificationindicator_true, df.reportingperiodmodificationindicator))
# print('Added Column for :   reportingperiodmodificationindicator_true')
# df.drop(['reportingperiodmodificationindicator'], axis=1, inplace=True)
# pd.value_counts(df.reportingperiodmodificationindicator_true)

In [ ]:
#df.shape

### Servicing Advance Method Code...revealing default status!...Not included

Specify the code that indicates a servicer's responsibility for
advancing principal or interest on delinquent loans. 1: No
advancing, 2: Interest only, 3: Principal only, 4: Principal and
Interest, 99: Unavailable

In [ ]:
#df.servicingadvancemethodcode.isna().mean()

In [ ]:
#df['servicingadvancemethodcode']=df.servicingadvancemethodcode.astype('category')

In [ ]:
#draw(df.servicingadvancemethodcode, title='Serving Advance Method Code', ylabel='Number of Loans', sort = True, n=100)

In [ ]:
#df.servicingadvancemethodcode.describe()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.servicingadvancemethodcode]).obligorcreditscore.mean()

In [ ]:
#df.groupby([df.reportingperiodendingdate, df.servicingadvancemethodcode]).currentdelinquencystatus.mean()

### Create Feature Columns for Servicing Advance Method Codes

In [ ]:
# def map_servicingadvancemethodcode(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column == code:
#             return 1
#         else:
#             return 0
# codes = pd.value_counts(df.servicingadvancemethodcode).index.tolist()

# for code in codes:
#         df['servicingadvancemethod_code_{}'.format(code)] = list(map(map_servicingadvancemethodcode, df.servicingadvancemethodcode))
#         print('Added Column for :   servicingadvancemethod_code_'+str(code))
# df.drop(['servicingadvancemethodcode'], axis=1, inplace=True)
# df.shape

### Dropped Other Principal Adjustment Amount...negative amt?

Indicate any other amounts that caused the principal balance of the loan to be decreased or increased during the reporting period.

In [ ]:
#df.otherprincipaladjustmentamount.isna().mean()

In [ ]:
#df.otherprincipaladjustmentamount.describe()

In [ ]:
# u=pd.value_counts(df.otherprincipaladjustmentamount<=0)
# if len(u)<2:
#     print('No blank other principal adjustment amount')
# else: 
#     print('Number of loans with zero or negative principal adjustment amount',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with other principal adjustment amount')
#     #df=df[df.otherprincipaladjustmentamount>0]
# df.shape

In [ ]:
#df.drop(['otherprincipaladjustmentamount'], axis=1, inplace=True)

###  Dropped Zero Balance Effective Date..check correlation with target(current)

Provide the date on which the loan balance was reduced to
zero.

In [ ]:
#df.zerobalanceeffectivedate.isna().mean()

In [ ]:
#df.zerobalanceeffectivedate.describe()

### Dropped now.....Adding new features for Days to Zero Balance Effective Date from Origination Date

In [ ]:
# for i in pd.value_counts(df.zerobalanceeffectivedate).keys().tolist():
#     if i>cutOffForOriginationDate:
#         df['zerobalanceeffectivedate_calc'] = pd.to_datetime(df['zerobalanceeffectivedate'])-pd.to_datetime(df['originationdate'])
# df['zerobalanceeffectivedate_calc']=df.zerobalanceeffectivedate_calc.map(lambda x: np.nan if pd.isnull(x) else x.days)
# print('Added Column for :   zerobalanceeffectivedate_calc')
#df.zerobalanceeffectivedate_calc.replace(np.nan, 0, inplace = True)

In [ ]:
#df.zerobalanceeffectivedate_calc.describe()

In [ ]:
#df.zerobalanceeffectivedate_calc.fillna(0, inplace=True)

In [ ]:
#df.zerobalanceeffectivedate_calc.isna().mean()

In [ ]:
# df.drop(['zerobalanceeffectivedate'], axis=1, inplace=True)
# df.shape

In [ ]:
#df.drop(['zerobalanceeffectivedate_calc'], axis=1, inplace=True)

### Dropped now Zero Balance Code..correlation with being current

Provide the code that indicates the reason the loan's
balance was reduced to zero. 1: Prepaid or Matured, 2:
Third-party Sale, 3: Repurchased or Replaced, 4: Chargedoff,
5: Servicing Transfer, 99: Unavailable

In [149]:
df.zerobalancecode.isna().mean()

0.0

In [150]:
df['zerobalancecode']=df.zerobalancecode.astype('category')

In [151]:
df.zerobalancecode.unique()

[[], ["1"], ["3"], ["4"]]
Categories (4, object): [[], ["1"], ["3"], ["4"]]

In [152]:
pd.value_counts(df.zerobalancecode)

[]       406415
["1"]      6580
["4"]       397
["3"]       114
Name: zerobalancecode, dtype: int64

In [ ]:
# draw(df.zerobalancecode, title='Zero Balance Code', ylabel='Number of Loans', sort = True, n=100)

### Create feature column for zero balance code

In [153]:
def map_zerobalancecode(*args):
    columns = [col for col in args]
    for column in columns:
        if column == code:
            return 1
        else:
            return 0
codes = pd.value_counts(df.zerobalancecode).index.tolist()

for code in codes:
        df['zerobalance_{}'.format(code)] = list(map(map_zerobalancecode, df.zerobalancecode))
        print('Added Column for :   zerobalance_'+code)

Added Column for :   zerobalance_[]
Added Column for :   zerobalance_["1"]
Added Column for :   zerobalance_["4"]
Added Column for :   zerobalance_["3"]

In [154]:
df['label']=df['zerobalance_["4"]']

In [155]:
df.label.value_counts()

0    413109
1       397
Name: label, dtype: int64

In [156]:
df.drop(['zerobalancecode', 'zerobalance_[]', 'zerobalance_["1"]', 'zerobalance_["3"]'], axis=1, inplace=True)
df.shape

(413506, 157)

## Add External S&P Experian default index and historical data

In [ ]:
#df.to_csv(path+"prod/processed_prod_Dec_to_Sep_ns_other_before_sp.csv", chunksize=100000)

In [ ]:
# df=pd.read_csv(path+'prod/processed_prod_Dec_to_Sep_ns_other_before_sp.csv', 
#                #usecols=use_list, 
#                #sep='\t',
#                #compression=bz2,
#                #nrows=nrows,
#                low_memory=True, 
#               #index_col='abs_loan.reportingperiodendingdate', 
#                parse_dates=True
#               )

In [ ]:
#df.head()

In [ ]:
#df.drop(['reportingperiodbeginningdate'], axis=1, inplace=True)

In [157]:
df=df.set_index('reportingperiodendingdate')

In [159]:
#df['cik']=df.cik.astype('category')

In [ ]:
#df.cik.unique()

In [160]:
df.assetnumber.unique()

array(['065739000603', '065739000607', '065739000608', ...,
       '065739066534', '065739066535', '065739066537'], dtype=object)

In [162]:
#pd.value_counts(df.assetnumber)

In [163]:
df.assetnumber=df.assetnumber.astype('object')

In [ ]:
#test=df[df.assetnumber=='16319243']

In [ ]:
#test.to_csv(path+'datasets/test_for_duplicates.csv')

In [ ]:
#df.assetnumber=df.assetnumber.astype('object')

In [164]:
df1=pd.read_csv(path+'datasets/s&pExperianAutoDefaultIndex.csv', index_col=0)
df=df.join(df1)
df2=pd.read_csv(path+'datasets/experianHistDefaultRates.csv', index_col=0)
df=df.join(df2)

In [165]:
df.head()

,assetnumber,originationdate,originalloanamount,originalloanterm,originalinterestratepercentage,interestcalculationtypecode,vehiclevalueamount,obligorcreditscore,paymenttoincomepercentage,reportingperiodending_2017-12-31,...,coobligorindicator_true,daystofirstpayment,"zerobalance_[""4""]",label,S&P/Experian Auto Default Index,AutoIndex,BankCardIndex,FirstMortgageIndex,SecondMortgageIndex,CompositeIndex
2017-12-31,065739000603,2012-01-31,39000.00,73.0,0.0599,1.0,46124.0,767.0,0.0809,1,...,0,29,0,0,0.0107,1.1,3.44,0.68,1.22,0.91
2017-12-31,065739000607,2012-01-31,39818.67,73.0,0.0779,1.0,36702.0,620.0,0.1289,1,...,1,29,0,0,0.0107,1.1,3.44,0.68,1.22,0.91
2017-12-31,065739000608,2012-01-31,22311.43,73.0,0.0659,1.0,22323.0,723.0,0.0590,1,...,1,29,0,0,0.0107,1.1,3.44,0.68,1.22,0.91
2017-12-31,065739000611,2012-01-31,28688.62,73.0,0.0789,1.0,25412.0,673.0,0.0727,1,...,1,29,0,0,0.0107,1.1,3.44,0.68,1.22,0.91
2017-12-31,065739000612,2012-01-31,45204.00,73.0,0.0190,1.0,42589.0,689.0,0.1028,1,...,0,29,0,0,0.0107,1.1,3.44,0.68,1.22,0.91

In [ ]:
# df.drop(['cik', 'assetnumber','originationdate'], axis=1, inplace=True)
# df.shape

# Clean data

In [ ]:
# change columns to lower case and remove prefix to enable pandas to work
#column_list=[x.lower() for x in (column_list)]
#df.columns=df.columns.str.replace('abs_loan.','')
# convert objects to numeric
#df=df.convert_objects(convert_numeric=True)

# Check for null

In [ ]:
#df.isnull().values.any()

# Loan Statistics

In [ ]:
#df.describe()

## Deliquency Buckets Current Vs Non-Current

In [ ]:
# LABELS = ('Current', 'Not Current')
# count_classes = pd.value_counts(df.currentdelinquencystatus>0, sort = True)
# count_classes.plot(kind = 'bar', rot=0)
# plt.xticks(range(2), LABELS)
# plt.title('Deliquency Class')
# plt.ylabel("Number of Loans")
# plt.show()
# print('Number of loans Current :', count_classes[0],'   ', 'Number of loans Not Current :', count_classes[1],)

In [ ]:
#df.currentdelinquencystatus.describe()

In [ ]:
#df.currentdelinquencystatus.isna().mean()

In [ ]:
# u=pd.value_counts(df.currentdelinquencystatus==''.index) 
# if len(u)<2:
#     print('No blank current delinquency status')
# else: 
#     print('Number of loans with blank current delinquency status',':', u[1])
#     #print('Dropping ', u[1], 'rows and retaining loans with correct interest paid throughdate')
#     #df=df[df.interestpaidthroughdate>'1900-01-01']
# df.shape

## Label Creation for Machine Learning

In [ ]:
# def map_label(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column > 0:
#             return 1
#         elif column == 0:
#             return 0
        
# df['label'] = list(map(map_label, df.currentdelinquencystatus ))

# LABELS = ('Current', 'Default')
# count_classes = pd.value_counts(df.label, sort = True)
# count_classes.plot(kind = 'bar', rot=0)
# plt.xticks(range(2), LABELS)
# plt.title('Revised Deliquency Class')
# plt.ylabel("Number of Loans")
# plt.show()
# print('Number of loans Current :', count_classes[0],'   ', 'Number of loans Defaulted :', count_classes[1],)

### Loan Balance Amount at the End of Reporting Period

In [ ]:
# current_df = df[df.label==0]
# not_current_df = df[df.label==1]
# bins = np.linspace(0, 100000, 100)
# plt.hist(current_df.reportingperiodactualendbalanceamount, bins, alpha=0.6, 
#          #density=True, 
#          label='CURRENT')
# plt.hist(not_current_df.reportingperiodactualendbalanceamount, bins, alpha=1, 
#          #density=True, 
#          label='NOT CURRENT')
# plt.legend(loc='upper right')
# plt.title("Loan Balance Amount at the end of reporting Period")
# plt.xlabel('Loan Balance Amount')
# plt.ylabel('Number of of Loans')
# plt.show()

### Manual oversampling of default data

In [ ]:
# #def manual_oversampling(df):
# default=df[df.label==1]
# print('default: ',default.shape)
# b=int((df.shape[0]-default.shape[0])/(default.shape[0]))
# print('copy default data ',b, ' times')
# b=int(b*manualOversamplingFactor)
# print(b)
# for i in range(b):
#     df=df.append(default, ignore_index=True)
# df=df.sample(frac=1).reset_index(drop=True)
# draw(df.label, title='Manual Oversampling -Current Vs Non-Current', ylabel='Number of Loans', sort=True)
# print(df.shape)
# print(pd.value_counts(df.label==1))
# #return df

In [ ]:
# #manual_oversampling(df)
# print(pd.value_counts(df.label==1))
# df.shape

In [ ]:
#df.dtypes

### Oversampling with SMOTE

In [ ]:
# from imblearn.over_sampling import SMOTE, ADASYN
# x_train, y_train = SMOTE().fit_resample(x_train, y_train)

In [ ]:
# #Apply SMOTE to create synthetic observations from minority class
# #Source:https://github.com/scikit-learn-contrib/imbalanced-learn
# from imblearn.over_sampling import SMOTE #Over sampling
# sm = SMOTE(ratio='auto',kind='regular')
# X_sampled,y_sampled = sm.fit_sample(X,y.values.ravel())

# #Percentage of fraudlent records in original data
# Source_data_no_fraud_count = len(data[data.Class==0])
# Source_data_fraud_count = len(data[data.Class==1])
# print('Percentage of fraud counts in original dataset:{}%'.format((Source_data_fraud_count*100)/(Source_data_no_fraud_count+Source_data_fraud_count)))

# #Percentage of fraudlent records in sampled data
# Sampled_data_no_fraud_count = len(y_sampled[y_sampled==0])
# Sampled_data_fraud_count = len(y_sampled[y_sampled==1])
# print('Percentage of fraud counts in the new data:{}%'.format((Sampled_data_fraud_count*100)/(Sampled_data_no_fraud_count+Sampled_data_fraud_count)))

### Naive Random Oversampling

In [ ]:
# from imblearn.over_sampling import RandomOverSampler
# ros = RandomOverSampler(random_state=0)
# X_resampled, y_resampled = ros.fit_resample(X, y)
# from collections import Counter
# print(sorted(Counter(y_resampled).items()))

#  Clean up for Machine Learning

In [ ]:
#df.isnull().any()

In [ ]:
#df.isnull().any().sum()

In [ ]:
#pd.value_counts(df.label, dropna=False)

Dropping NaN rows for the label(current Vs Non-current)

In [ ]:
df.label.dropna(inplace=True)

In [ ]:
#pd.value_counts(df.label, dropna=False)

In [ ]:
#pd.value_counts(df.paymenttoincomepercentage, dropna=False).head()

Dropping NaN rows for payment to income percentage

In [166]:
df.paymenttoincomepercentage.isna().mean()

0.008577868277606612

In [167]:
df.paymenttoincomepercentage.dropna(inplace=True)

In [168]:
df.shape

(413506, 162)

In [ ]:
#pd.value_counts(df.paymenttoincomepercentage, dropna=False).head()

In [ ]:
#df['servicingflatfeeamount']=df.servicingflatfeeamount.astype('float')
#pd.value_counts(df.servicingflatfeeamount, dropna=False)

Populating blank servicing flat fee amount with zeros

In [ ]:
#df.servicingflatfeeamount.fillna(0,inplace=True)

In [ ]:
#pd.value_counts(df.reportingperiodbeginningloanbalanceamount, dropna=False).head()

Populate blank rows of reporting period beginning loan balance amount with zeros

In [ ]:
#df.reportingperiodbeginningloanbalanceamount.fillna(0, inplace=True)

In [ ]:
#pd.value_counts(df.reportingperiodbeginningloanbalanceamount, dropna=False).head()

In [ ]:
#pd.value_counts(df.otherservicerfeeretainedbyservicer, dropna=False).head()

Populate blank other servicer fee retained by servicer with zeros

In [ ]:
#df.otherservicerfeeretainedbyservicer.fillna(0, inplace=True)

In [ ]:
#pd.value_counts(df.otherservicerfeeretainedbyservicer, dropna=False).head()

In [ ]:
# pd.value_counts(df.serviceradvancedamount, dropna=False).head()

Populate blank servicer advance amount with zeros

In [ ]:
#df.serviceradvancedamount.fillna(0, inplace=True)

In [ ]:
#pd.value_counts(df.serviceradvancedamount, dropna=False).head()

In [ ]:
#df.isnull().any().sum()

In [ ]:
##df.isnull().any()

In [ ]:
#df.nextinterestratepercentage.isna().mean()

In [ ]:
#df.nextinterestratepercentage.fillna(0, inplace=True)

In [ ]:
#df.nextinterestratepercentage.isna().mean()

In [ ]:
#df.reportingperiodinterestratepercentage.isna().mean()

In [ ]:
#df.reportingperiodinterestratepercentage.fillna(0, inplace=True)

In [ ]:
#df.reportingperiodinterestratepercentage.isna().mean()

In [ ]:
#df.scheduledinterestamount.isna().mean()

In [ ]:
#df.scheduledinterestamount.fillna(0, inplace=True)

In [ ]:
#df.scheduledprincipalamount.isna().mean()

In [ ]:
#df.scheduledprincipalamount.fillna(0, inplace=True)

In [ ]:
#df.reportingperiodscheduledpaymentamount .isna().mean()

In [ ]:
#df.reportingperiodscheduledpaymentamount.fillna(0, inplace=True)

### Treating Missing values and NaN for Payment to Income Pecentage?

In [ ]:
#df.paymenttoincomepercentage.value_counts(dropna=False)

### Payment to income percentage flag(flag yes when the data is available)

In [ ]:
#df.paymenttoincomepercentage.fillna(0, inplace=True)

In [ ]:
# u=pd.value_counts(df.paymenttoincomepercentage==0)
# print(u)

In [ ]:
# def map_paymenttoincomepercentage_true(*args):
#     columns = [col for col in args]
#     for column in columns:
#         if column > 0:
#             return 1
#         else:
#             return 0
        
# df['paymenttoincomepercentage_true'] = list(map(map_paymenttoincomepercentage_true, df.paymenttoincomepercentage))
# print('Added Column for :   paymenttoincomepercentage_true')
# pd.value_counts(df.paymenttoincomepercentage_true)

In [ ]:
#df.head()

In [ ]:
#df.to_csv(path+"prod/processed_prod_Dec_to_Sep_ns_other_before_sp.csv", chunksize=10000)

In [ ]:
#df.isna().any()

In [ ]:
#df.drop(['actualinterestcollectedamount', 'actualprincipalcollectedamount', 'actualothercollectedamount'], axis=1, inplace =True)

In [ ]:
#df.nextreportingperiodpaymentamountdue.isna().mean()

In [ ]:
#df.nextreportingperiodpaymentamountdue.fillna(0, inplace=True)

In [ ]:
#df.isna().any().sum()

In [ ]:
#df.fillna(0, inplace=True)

In [ ]:
#df.isnull().any().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
#df.shape

In [ ]:
#df.dtypes

# Feature Engineering

1. Missing Values
2. Standard Deviation- Amount of Variation
3. Pairwise Correlation
4. Multi Co-linearity
5. Correlation with the labels
6. Cluster Analysis/Dimensionality Reduction

### 1. Missing Values

In [ ]:
df.isnull().any().sum()

### 2. Standard Deviation - Amount of Variation

In [ ]:
df.std()

### 3. Pairwise Correlation

In [ ]:
corr=df.corr()

In [ ]:
corr.to_csv(path+'datasets/corr_prod_ns.csv')

In [ ]:
#plt.matshow(df.corr(), figsize=(20,10))
plt.matshow(df.corr())

In [ ]:
corr.shape

In [ ]:
corr.isna().mean().sum()

In [ ]:
corr.fillna(0, inplace=True)

In [ ]:
corr.isna().mean().sum()

In [ ]:
plt.matshow(corr)

### 4. Correlation with Labels

In [ ]:
corr.label.plot(kind='bar', figsize=(20,10))

### 5 Check for muti co-linearity

In [ ]:
eigenvalue, eigenvector = np.linalg.eig(corr)

In [ ]:
np.savetxt(path+'datasets/eigenvalue_prod_ns.csv', eigenvalue, delimiter=",")
np.savetxt(path+'datasets/eigenvector_prod_ns.csv', eigenvector, delimiter=",")

In [ ]:
evector=pd.DataFrame(eigenvector, columns=corr.columns.tolist())
evector

## Feature Selection

Why select features?
1. Some algorithms scale (computationally) poorly with increased dimension
2. Irrelevant features can confuse some algorithms
3. Redundant features adversely affect regularization
4. Removal of features can increase generalization)

#### Feature Selection Methods
1. Agnostic
    Preprocessing based methods 
        - Remove a binary feature if 'True' in very few or most samples
2. Filter Feature Selection methods
        - Use some ranking criteria to rank
        - Select the top ranking features
3. Wrapper Methods (keep the learning algorithm in the loop)
        - Requires repeated runs of the learning algorithm with different set of features
        - Can be computationally expensive
4. Heuristics 
        - much faster than wrapper methods
5. Correlation Critera
        - Rank features in order of their correlation with the labels
6. Forward Search, Backward Search and step-wise search
        -Forward Search
            Start with no features
            Greedily include the most relevant feature
            Stop when selected the desired number of features
        - Backward Search
            Start with all the features
            Greedily remove the least relevant feature
            Stop when selected the desired number of features
        - Stepwise
            -reevauate all features after each forward search
            -Any feature can be removed after each step

#### 4. Huristics

#### BIC and AIC
Bayesian information criterion (BIC) or Schwarz information criterion (also SIC, SBC, SBIC) is a criterion for model selection among a finite set of models; the model with the lowest BIC is preferred. 
They are used for choosing best features and often used for comparing nonnested models, which ordinary statistical tests cannot do. The AIC or BIC for a model is usually written in the form [-2logL + kp], where L is the likelihood function, p is the number of parameters in the model, and k is 2 for AIC and log(n) for BIC. In our case, we do not require AIC and BIC techniques for finding the best features due to the simplicity of our model and the number of features being less than 100.

The Akaike information criterion (AIC) is an estimator of the relative quality of statistical models for a given set of data. Given a collection of models for the data, AIC estimates the quality of each model, relative to each of the other models. Thus, AIC provides a means for model selection. 
AIC is an estimate of a constant plus the relative distance between the unknown true likelihood function of the data and the fitted likelihood function of the model, so that a lower AIC means a model is considered to be closer to the truth. BIC is an estimate of a function of the posterior probability of a model being true, under a certain Bayesian setup, so that a lower BIC means that a model is considered to be more likely to be the true model. Both criteria are based on various assumptions and asymptotic approximations. Each, despite its heuristic usefulness, has therefore been criticized as having questionable validity for real world data. But despite various subtle theoretical differences, their only difference in practice is the size of the penalty; BIC penalizes model complexity more heavily. The only way they should disagree is when AIC chooses a larger model than BIC.

### Feature Union

It is beneficial to combine several methods to obtain good performance. We use FeatureUnion to combine features obtained by PCA and univariate selection.
Combining features using this transformer has the benefit that it allows cross validation and grid searches over the whole process.

In [ ]:
# y=df.label.values
# x=df.values

In [ ]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn.svm import SVC
# # If dataset is way too high-dimensional. Better do PCA:
# pca = PCA(n_components=2)

# # Maybe some original features where good, too?
# selection = SelectKBest(k=1)

# # Build estimator from PCA and Univariate selection:

# combined_features = FeatureUnion([("pca", pca), ("univ_select", selection)])

# # Use combined features to transform dataset:
# x_features = combined_features.fit(x, y).transform(x)
# print("Combined space has", x_features.shape[1], "features")

# svm = SVC(kernel="linear")

# # Do grid search over k, n_components and C:

# pipeline = Pipeline([("features", combined_features), ("svm", svm)])

# param_grid = dict(features__pca__n_components=[1, 2, 3],
#                   features__univ_select__k=[1, 2],
#                   svm__C=[0.1, 1, 10])

# grid_search = GridSearchCV(pipeline, param_grid=param_grid, cv=5, verbose=10)
# grid_search.fit(x, y)
# print(grid_search.best_estimator_)

### Save the dataframe

In [169]:
df.to_csv(path+"prod/ford_credit_1.csv", chunksize=10000)

### Preparing data for Machine Learning

In [ ]:
# # prepare label for scikit-learn
# Y=df.label.values
# Y.shape

In [ ]:
# # reshape labels for machine learning
# Y=Y.reshape(Y.shape[0],1)
# Y.shape

In [ ]:
# # prepare input data for scikit-learn
# input=df.values
# input.shape

In [ ]:
# # calculate train/test split
# len_train = int(len(input)*train_split)
# print(len_train)

In [ ]:
# # apply train/test split to labels
# y_train = Y[0:len_train]
# y_test = Y[len_train:]

In [ ]:
# #reshape input data for machine learning
# input=input.reshape(input.shape[0], input.shape[1], 1)
# input.shape

In [ ]:
# # apply train/test split to input data
# x_train = input[0:len_train]
# x_test = input[len_train:]
# x_train.shape

### Scikit-Learn Scaling

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import minmax_scale
# from sklearn.preprocessing import MaxAbsScaler
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import RobustScaler
# from sklearn.preprocessing import Normalizer
# from sklearn.preprocessing import QuantileTransformer
# from sklearn.preprocessing import PowerTransformer

In [ ]:
# x_scaler=StandardScaler()
# x_train = x_scaler.fit_transform(x_train)
# x_test = x_scaler.fit_transform(x_test)

### Keras Scaling - Normalize

In [ ]:
# x_train_keras_scaled = keras.utils.normalize(x_train, axis=-1, order=2)
# x_test_keras_scaled = keras.utils.normalize(x_test, axis=-1, order=2)
# x_train_keras_scaled.shape

### Linear Support Vector Machine Algorithm

Linear Support Vector Classification.
Similar to SVC with parameter kernel=’linear’, but implemented in terms of liblinear rather than libsvm, so it has more flexibility in the choice of penalties and loss functions and should scale better to large numbers of samples.
This class supports both dense and sparse input and the multiclass support is handled according to a one-vs-the-rest scheme.

In [ ]:
# from sklearn import svm, neighbors
# lsvc=svm.LinearSVC()
# clf_lsvc=lsvc.fit(x_train, y_train)
# confidence_lsvc=clf_lsvc.score(x_test, y_test)

### K-Nearest Neighbors Algorithm

In [ ]:
# knn=neighbors.KNeighborsClassifier(n_neighbors=10, n_jobs=-1)
# clf_knn=knn.fit(x_train, y_train)
# confidence_knn=clf_knn.score(x_test, y_test)

### Random Forest Tree Algorithm

Random forests or random decision forests are an ensemble learning method for classification, regression and other tasks, that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes (classification) or mean prediction (regression) of the individual trees. Random decision forests correct for decision trees' habit of overfitting to their training set

In [ ]:
# rfor=RandomForestClassifier()
# clf_rfor = rfor.fit(x_train, y_train)
# confidence_rfor=clf_rfor.score(x_test, y_test)

### Logistic Regression Algorithm

In [ ]:
# lr = LogisticRegression(solver='lbfgs')
# clf_lr = lr.fit(x_train, y_train)
# confidence_lr=clf_lr.score(x_test, y_test)

### Gaussian Naive Bayes Algorithm

In [ ]:
# from sklearn.naive_bayes import GaussianNB
# gnb = GaussianNB()
# clf_gnb = gnb.fit(x_train, y_train)
# confidence_gnb=clf_gnb.score(x_test, y_test)

### Deep Learning - GRU

In [ ]:

# model = keras.Sequential()
# model.add(keras.layers.GRU(128, activation='relu',  
#                            kernel_regularizer=regularizers.l2(0.01), 
#                            input_shape=(x_train_keras_scaled.shape[1:]), 
#                            return_sequences=True))
# model.add(keras.layers.Dropout(0.3))

# model.add(keras.layers.GRU(32, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
# model.add(keras.layers.Dropout(0.2))

# model.add(keras.layers.Dense(8, activation='relu',  kernel_regularizer=regularizers.l2(0.01)))
# model.add(keras.layers.Dropout(0.3))

# model.add(keras.layers.Dense(2, activation='softmax'))

# optimizer = tf.keras.optimizers.Adam(lr=1e-3, decay=1e-6)
# model.summary()

### Model Configuration

In [ ]:
#save the best model
#keras.callbacks.Callback()
# checkPoint = ModelCheckpoint(filepath = path+'model/'+name+'.h5',
#                             save_best_only = True,
#                             verbose=0)
# tensorboard = TensorBoard(log_dir=path+'logs/{}'.format(name),
#                           histogram_freq=0,
#                           batch_size=32,
#                           write_graph=True,
#                           write_images=False)
# history = keras.callbacks.History()

### Train the Model

In [ ]:
# model.compile(loss='sparse_categorical_crossentropy', optimizer=optimizer, metrics=['accuracy'])

# model.fit(x_train, y_train, epochs=epochs, validation_data=(x_test_keras_scaled, y_test), batch_size=8192, 
#         # callbacks = [
#    # baseLogger,
#     #history,
#     #tensorboard
#     #learningRateScheduler,
#     #reduceLROnPlateau
#      #    ], 
#           shuffle=False
# )

### Save the Model

In [ ]:
# model.save(path+'model/'+name+'.h5')

In [ ]:
# test_loss, test_acc = model.evaluate(x_test_keras_scaled, y_test)
# print('Test Loss : ',test_loss,' ','Test Accuracy : ', test_acc)

In [ ]:
# y_pred = model.predict_classes(x_test)

In [ ]:
#print(y_pred)

In [ ]:
#len(y_pred)

In [ ]:
# np.count_nonzero(y_pred)

In [ ]:
# np.count_nonzero(y_test)

### Load Saved Model

In [ ]:
#saved_model = load_model(path+'model/ABS_Keras-GRU254GRU128D32D2-adam1540234475.h5')

In [ ]:
# test_loss, test_acc = saved_model.evaluate(x_test_keras_scaled, y_test)
# print('Test Loss : ',test_loss,' ','Test Accuracy : ', test_acc)

### Predict Classes

In [ ]:
x_pred = x_test

In [ ]:
# prediction_gru = model.predict_classes(x_pred)
# prediction_lsvc = clf_lsvc.predict(x_pred)
# prediction_knn = clf_knn.predict(x_pred)
# prediction_rfor = clf_rfor.predict(x_pred)
# prediction_lr = clf_lr.predict(x_pred)
# prediction_gnb = clf_gnb.predict(x_pred)

In [ ]:
# predictions = [
#   prediction_gru,
#     prediction_lsvc,
#     prediction_knn,
#     prediction_rfor,
#     prediction_lr,
#     prediction_gnb 
]

### Confusion Matrix

In [ ]:
# class_names = ['Current', 'Non-Current']

# def plot_confusion_matrix(cm, classes,
#                           normalize=False,
#                           title='Confusion matrix',
#                           cmap=plt.cm.Blues):
#     """
#     This function prints and plots the confusion matrix.
#     Normalization can be applied by setting `normalize=True`.
#     """
#     if normalize:
#         cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
#         print("Normalized confusion matrix")
#     else:
#         print('Confusion matrix, without normalization')

#     print(cm)

#     plt.imshow(cm, interpolation='nearest', cmap=cmap)
#     plt.title(title)
#     plt.colorbar()
#     tick_marks = np.arange(len(classes))
#     plt.xticks(tick_marks, classes, rotation=45)
#     plt.yticks(tick_marks, classes)

#     fmt = '.2f' if normalize else 'd'
#     thresh = cm.max() / 2.
#     for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
#         plt.text(j, i, format(cm[i, j], fmt),
#                  horizontalalignment="center",
#                  color="white" if cm[i, j] > thresh else "black")

#     plt.ylabel('True label')
#     plt.xlabel('Predicted label')
#     plt.tight_layout()

# for prediction in predictions:
#         print('ROC_AUC_SCORE ; ', roc_auc_score(y_test, prediction))
#         # Compute confusion matrix
#         cnf_matrix = confusion_matrix(y_test, prediction)
#         np.set_printoptions(precision=2)

#         # Plot non-normalized confusion matrix
#         plt.figure()
#         plot_confusion_matrix(cnf_matrix, classes=class_names,
#                           title= 'Confusion matrix')

#         # Plot normalized confusion matrix
# #         plt.figure()
# #         plot_confusion_matrix(cnf_matrix, classes=class_names, normalize=False,
# #                           title='Normalized confusion matrix')

#         plt.show()