In [1]:
import pandas as pd

In [2]:
column_list=(
             'assetTypeNumber',
             'assetNumber',
             'reportingPeriodBeginningDate',
             'reportingPeriodEndingDate',
             'originatorName',
             'originalLoanAmount',
             'originalLoanTerm',
            'loanMaturityDate',
           'originalInterestRatePercentage',
            'interestCalculationTypeCode',
           'originalInterestRateTypeCode',
            'originalInterestOnlyTermNumber',
           'originalFirstPaymentDate',
            'underwritingIndicator',
           'gracePeriodNumber',
            'paymentTypeCode',
            'subvented',
           'vehicleManufacturerName',
            'vehicleModelName',
            'vehicleNewUsedCode',
           'vehicleModelYear',
            'vehicleTypeCode',
            'vehicleValueAmount',
           'vehicleValueSourceCode',
            'obligorCreditScoreType',
           'obligorCreditScore',
            'obligorIncomeVerificationLevelCode',
           'obligorEmploymentVerificationCode',
            'coObligorIndicator',
           'paymentToIncomePercentage',
            'obligorGeographicLocation',
           'assetAddedIndicator',
            'remainingTermToMaturityNumber',
           'reportingPeriodModificationIndicator',
           'servicingAdvanceMethodCode',
           'reportingPeriodBeginningLoanBalanceAmount',
           'nextReportingPeriodPaymentAmountDue',
           'reportingPeriodInterestRatePercentage',
           'nextInterestRatePercentage', 'servicingFeePercentage',
           'servicingFlatFeeAmount', 'otherServicerFeeRetainedByServicer',
           'otherAssessedUncollectedServicerFeeAmount',
           'scheduledInterestAmount', 'scheduledPrincipalAmount',
           'otherPrincipalAdjustmentAmount',
           'reportingPeriodActualEndBalanceAmount',
           'reportingPeriodScheduledPaymentAmount', 'totalActualAmountPaid',
           'actualInterestCollectedAmount', 'actualPrincipalCollectedAmount',
           'actualOtherCollectedAmount', 'servicerAdvancedAmount',
           'interestPaidThroughDate', 'zeroBalanceEffectiveDate',
           'zeroBalanceCode', 'currentDelinquencyStatus',
           'primaryLoanServicerName',
           'mostRecentServicingTransferReceivedDate',
           'assetSubjectDemandIndicator', 'assetSubjectDemandStatusCode',
           'repurchaseAmount', 'DemandResolutionDate', 'repurchaserName',
           'repurchaseReplacementReasonCode', 'chargedoffPrincipalAmount',
           'recoveredAmount', 'modificationTypeCode', 'paymentExtendedNumber',
           'repossessedIndicator', 'repossessedProceedsAmount')

In [3]:
column_list1 = ['originalLoanAmount',
               'originalLoanTerm',
               'originalInterestRatePercentage',
               'vehicleNewUsedCode',
               'vehicleTypeCode',
               'vehicleValueAmount',
               'obligorCreditScore',
               'obligorIncomeVerificationLevelCode',
               'obligorEmploymentVerificationCode',
               'coObligorIndicator',
               'paymentToIncomePercentage',
               'remainingTermToMaturityNumber',
               'reportingPeriodBeginningLoanBalanceAmount',
               'nextReportingPeriodPaymentAmountDue',
               'reportingPeriodInterestRatePercentage',
               'nextInterestRatePercentage',
               'servicingFeePercentage',
               'otherAssessedUncollectedServicerFeeAmount',
               'scheduledInterestAmount',
               'scheduledPrincipalAmount',
               'reportingPeriodActualEndBalanceAmount',
               'reportingPeriodScheduledPaymentAmount',
               'totalActualAmountPaid',
               'actualInterestCollectedAmount',
               'actualPrincipalCollectedAmount',
               'actualOtherCollectedAmount',
               'currentDelinquencyStatus']

In [4]:
column_list2 = ['originalLoanAmount',
               'actualInterestCollectedAmount',
               'actualPrincipalCollectedAmount',
               'actualOtherCollectedAmount',
               'currentDelinquencyStatus']

In [5]:
df=pd.read_excel('c:/users/ugy1/abs/Ford Credit Auto.xlsx', low_memory=True, use_cols=column_list1, index_col='originationDate', parse_dates=True)
#df=pd.read_excel('c:/users/ugy1/abs/Ford Credit Auto.xlsx', low_memory=True, names=column_list, index_col='originationDate', parse_dates=True)

In [6]:
df.columns.values

array(['assetTypeNumber', 'assetNumber', 'reportingPeriodBeginningDate',
       'reportingPeriodEndingDate', 'originatorName', 'originalLoanAmount',
       'originalLoanTerm', 'loanMaturityDate',
       'originalInterestRatePercentage', 'interestCalculationTypeCode',
       'originalInterestRateTypeCode', 'originalInterestOnlyTermNumber',
       'originalFirstPaymentDate', 'underwritingIndicator',
       'gracePeriodNumber', 'paymentTypeCode', 'subvented',
       'vehicleManufacturerName', 'vehicleModelName', 'vehicleNewUsedCode',
       'vehicleModelYear', 'vehicleTypeCode', 'vehicleValueAmount',
       'vehicleValueSourceCode', 'obligorCreditScoreType',
       'obligorCreditScore', 'obligorIncomeVerificationLevelCode',
       'obligorEmploymentVerificationCode', 'coObligorIndicator',
       'paymentToIncomePercentage', 'obligorGeographicLocation',
       'assetAddedIndicator', 'remainingTermToMaturityNumber',
       'reportingPeriodModificationIndicator',
       'servicingAdvanceMethodCode',
       'reportingPeriodBeginningLoanBalanceAmount',
       'nextReportingPeriodPaymentAmountDue',
       'reportingPeriodInterestRatePercentage',
       'nextInterestRatePercentage', 'servicingFeePercentage',
       'servicingFlatFeeAmount', 'otherServicerFeeRetainedByServicer',
       'otherAssessedUncollectedServicerFeeAmount',
       'scheduledInterestAmount', 'scheduledPrincipalAmount',
       'otherPrincipalAdjustmentAmount',
       'reportingPeriodActualEndBalanceAmount',
       'reportingPeriodScheduledPaymentAmount', 'totalActualAmountPaid',
       'actualInterestCollectedAmount', 'actualPrincipalCollectedAmount',
       'actualOtherCollectedAmount', 'servicerAdvancedAmount',
       'interestPaidThroughDate', 'zeroBalanceEffectiveDate',
       'zeroBalanceCode', 'currentDelinquencyStatus',
       'primaryLoanServicerName',
       'mostRecentServicingTransferReceivedDate',
       'assetSubjectDemandIndicator', 'assetSubjectDemandStatusCode',
       'repurchaseAmount', 'DemandResolutionDate', 'repurchaserName',
       'repurchaseReplacementReasonCode', 'chargedoffPrincipalAmount',
       'recoveredAmount', 'modificationTypeCode', 'paymentExtendedNumber',
       'repossessedIndicator', 'repossessedProceedsAmount'], dtype=object)

In [7]:
df.dtypes

assetTypeNumber                                      object
assetNumber                                           int64
reportingPeriodBeginningDate                 datetime64[ns]
reportingPeriodEndingDate                    datetime64[ns]
originatorName                                       object
originalLoanAmount                                   object
originalLoanTerm                                     object
loanMaturityDate                                     object
originalInterestRatePercentage                       object
interestCalculationTypeCode                          object
originalInterestRateTypeCode                         object
originalInterestOnlyTermNumber                       object
originalFirstPaymentDate                             object
underwritingIndicator                                object
gracePeriodNumber                                    object
paymentTypeCode                                      object
subvented                                            object
vehicleManufacturerName                              object
vehicleModelName                                     object
vehicleNewUsedCode                                   object
vehicleModelYear                                     object
vehicleTypeCode                                      object
vehicleValueAmount                                   object
vehicleValueSourceCode                               object
obligorCreditScoreType                               object
obligorCreditScore                                   object
obligorIncomeVerificationLevelCode                   object
obligorEmploymentVerificationCode                    object
coObligorIndicator                                   object
paymentToIncomePercentage                            object
                                                  ...
otherServicerFeeRetainedByServicer                   object
otherAssessedUncollectedServicerFeeAmount            object
scheduledInterestAmount                              object
scheduledPrincipalAmount                             object
otherPrincipalAdjustmentAmount                       object
reportingPeriodActualEndBalanceAmount                object
reportingPeriodScheduledPaymentAmount                object
totalActualAmountPaid                                object
actualInterestCollectedAmount                        object
actualPrincipalCollectedAmount                       object
actualOtherCollectedAmount                           object
servicerAdvancedAmount                               object
interestPaidThroughDate                              object
zeroBalanceEffectiveDate                             object
zeroBalanceCode                                      object
currentDelinquencyStatus                             object
primaryLoanServicerName                              object
mostRecentServicingTransferReceivedDate              object
assetSubjectDemandIndicator                          object
assetSubjectDemandStatusCode                         object
repurchaseAmount                                     object
DemandResolutionDate                                 object
repurchaserName                                      object
repurchaseReplacementReasonCode                      object
chargedoffPrincipalAmount                            object
recoveredAmount                                      object
modificationTypeCode                                 object
paymentExtendedNumber                                object
repossessedIndicator                                 object
repossessedProceedsAmount                            object
Length: 71, dtype: object

In [8]:
df1=df[column_list1]

In [10]:
df1=df1.convert_objects(convert_numeric=True)

C:\Progra~1\Anaconda3_4\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [11]:
df1.shape

(61516, 27)

In [12]:
df1.describe()

,originalLoanAmount,originalLoanTerm,originalInterestRatePercentage,vehicleNewUsedCode,vehicleTypeCode,vehicleValueAmount,obligorCreditScore,obligorIncomeVerificationLevelCode,obligorEmploymentVerificationCode,coObligorIndicator,...,otherAssessedUncollectedServicerFeeAmount,scheduledInterestAmount,scheduledPrincipalAmount,reportingPeriodActualEndBalanceAmount,reportingPeriodScheduledPaymentAmount,totalActualAmountPaid,actualInterestCollectedAmount,actualPrincipalCollectedAmount,actualOtherCollectedAmount,currentDelinquencyStatus
count,61515.000000,61515.000000,61515.000000,61515.000000,61515.000000,61515.000000,57587.000000,50545.000000,50545.000000,61515.000000,...,61515.000000,61486.000000,61486.000000,61515.000000,61486.000000,61515.000000,61515.000000,61515.000000,61515.000000,61515.000000
mean,33488.011621,65.815265,0.034320,1.167130,2.107307,37323.840020,639.911716,2.027916,2.027540,0.279444,...,3.342388,75.502507,505.621574,24942.527838,581.124082,1009.762609,75.718325,932.402483,1.641801,0.908266
std,14573.703974,9.621927,0.031851,0.373095,0.757581,14798.734165,255.358108,0.167236,0.163652,0.448730,...,30.943981,91.969630,243.244058,15031.469511,279.871772,3581.340338,109.762837,3566.503245,13.296513,4.627039
min,2000.000000,13.000000,0.000000,1.000000,1.000000,4625.000000,1.000000,2.000000,2.000000,0.000000,...,0.000000,0.000000,63.529064,0.000000,69.310000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23103.195000,61.000000,0.000000,1.000000,2.000000,25611.500000,628.000000,2.000000,2.000000,0.000000,...,0.000000,0.000000,339.211485,14296.730000,387.275000,375.000000,0.000000,324.940000,0.000000,0.000000
50%,31468.050000,68.000000,0.029000,1.000000,2.000000,36142.000000,722.000000,2.000000,2.000000,0.000000,...,0.000000,43.814178,463.756718,23673.020000,525.365000,538.710000,34.720000,477.860000,0.000000,0.000000
75%,41636.460000,73.000000,0.058400,1.000000,3.000000,46646.255000,804.000000,2.000000,2.000000,1.000000,...,0.000000,119.948595,623.459358,33922.180000,704.467500,774.545000,113.670000,680.530000,0.000000,0.000000
max,128619.030000,74.000000,0.215000,2.000000,3.000000,123857.000000,900.000000,5.000000,3.000000,1.000000,...,3828.760000,926.493701,3705.913209,97191.370000,4177.630000,80819.890000,1852.200000,80193.480000,1673.250000,107.000000

In [13]:
df1.dtypes

originalLoanAmount                           float64
originalLoanTerm                             float64
originalInterestRatePercentage               float64
vehicleNewUsedCode                           float64
vehicleTypeCode                              float64
vehicleValueAmount                           float64
obligorCreditScore                           float64
obligorIncomeVerificationLevelCode           float64
obligorEmploymentVerificationCode            float64
coObligorIndicator                           float64
paymentToIncomePercentage                    float64
remainingTermToMaturityNumber                float64
reportingPeriodBeginningLoanBalanceAmount    float64
nextReportingPeriodPaymentAmountDue          float64
reportingPeriodInterestRatePercentage        float64
nextInterestRatePercentage                   float64
servicingFeePercentage                       float64
otherAssessedUncollectedServicerFeeAmount    float64
scheduledInterestAmount                      float64
scheduledPrincipalAmount                     float64
reportingPeriodActualEndBalanceAmount        float64
reportingPeriodScheduledPaymentAmount        float64
totalActualAmountPaid                        float64
actualInterestCollectedAmount                float64
actualPrincipalCollectedAmount               float64
actualOtherCollectedAmount                   float64
currentDelinquencyStatus                     float64
dtype: object

In [16]:
df1.obligorCreditScore.describe()

count    57587.000000
mean       639.911716
std        255.358108
min          1.000000
25%        628.000000
50%        722.000000
75%        804.000000
max        900.000000
Name: obligorCreditScore, dtype: float64

In [19]:
# number of deliquent loans
pd.value_counts(df1.currentDelinquencyStatus<=1)

True     57762
False     3754
Name: currentDelinquencyStatus, dtype: int64

In [20]:
#loans with credit score of 1...need to be fixed
pd.value_counts(df1.obligorCreditScore==1)

False    61410
True       106
Name: obligorCreditScore, dtype: int64

In [25]:
#loans with credit score of less than 100...need to be fixed
pd.value_counts(df1.obligorCreditScore<=100)

False    53328
True      8188
Name: obligorCreditScore, dtype: int64

In [26]:
pd.value_counts(df1.coObligorIndicator)

0.0    44325
1.0    17190
Name: coObligorIndicator, dtype: int64

In [30]:
pd.value_counts(df1.originalLoanTerm)

73.0    16537
74.0    14119
61.0    12325
62.0     9886
49.0     1859
37.0     1483
50.0     1458
67.0     1370
38.0     1096
68.0      808
25.0      132
63.0      119
26.0       86
55.0       45
64.0       39
56.0       21
43.0       19
13.0       18
65.0       16
44.0       16
14.0        8
32.0        6
72.0        6
31.0        5
39.0        5
60.0        4
71.0        3
51.0        3
20.0        3
52.0        2
53.0        2
19.0        2
41.0        2
40.0        2
59.0        1
57.0        1
36.0        1
30.0        1
42.0        1
54.0        1
70.0        1
33.0        1
34.0        1
66.0        1
Name: originalLoanTerm, dtype: int64

In [32]:
pd.value_counts(df1.obligorIncomeVerificationLevelCode)

2.0    49153
3.0     1375
4.0       15
5.0        2
Name: obligorIncomeVerificationLevelCode, dtype: int64

In [33]:
pd.value_counts(df1.vehicleNewUsedCode)

1.0    51234
2.0    10281
Name: vehicleNewUsedCode, dtype: int64

In [34]:
pd.value_counts(df1.obligorEmploymentVerificationCode)

2.0    49153
3.0     1392
Name: obligorEmploymentVerificationCode, dtype: int64

In [36]:
df1.isnull().values.any()

True

In [ ]:
df1.currentDelinquencyStatus.astype('float').replace(df1.currentDelinquencyStatus>0.0, 1)

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [ ]:
df1['deliquent'] = df1.currentDelinquencyStatus.astype('int64').replace(df1.currentDelinquencyStatus > 0, 1)

In [ ]:
vehicleNewUsedCode

In [ ]:
obligorIncomeVerificationLevelCode

In [ ]:
df=pd.read_excel('c:/users/ugy1/abs/Ford Credit Auto.xlsx', low_memory=True, use_cols=column_list1, index_col='originationDate', parse_dates=True)